<?xml version="1.0" encoding="utf-8"?>
<Media Key="56765458-c382-4dfd-a3ad-8a2cd384f84e" Alias="Betty's tea rooms exterior" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BettysTeaRoomsExterior</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Betty's tea rooms exterior" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/04pdbyhl/bettys-tea-rooms.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>