<?xml version="1.0" encoding="utf-8"?>
<Media Key="405366b8-763e-483f-91f2-1d2eb13d78dd" Alias="Boots pharmacy on Briggate" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BootsPharmacyOnBriggate</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Boots pharmacy on Briggate" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g4wbl3sx/boots-pharmacy-briggate.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>