<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed1e089b-8c9a-465d-a573-42fdae2fab97" Alias="Building lit web components for umbraco" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BuildingLitWebComponentsForUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Building lit web components for umbraco" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ctbfqw5t/building-lit-web-components-for-umbraco.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>