<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0730552-52cd-4917-a6a6-a964c6349fa7" Alias="Currys electronics store in Leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CurrysElectronicsStoreInLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Currys electronics store in Leeds" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1xhdk3ve/currys-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>