<?xml version="1.0" encoding="utf-8"?>
<Media Key="206374e2-0d86-4b10-a33e-4c8fc199f638" Alias="Direct Line insurance office in Leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DirectLineInsuranceOfficeInLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Direct Line insurance office in Leeds" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nw5clfxp/direct-line-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>