<?xml version="1.0" encoding="utf-8"?>
<Media Key="b548d01b-53a0-44fe-b52e-8a724bc953a3" Alias="Elland Road football stadium" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EllandRoadFootballStadium</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Elland Road football stadium" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sqna2a4j/elland-road.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>