<?xml version="1.0" encoding="utf-8"?>
<Media Key="31880c30-ed57-46cf-8f23-cbec606a4b8d" Alias="Grand hotel leeds stay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GrandHotelLeedsStay</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Grand hotel leeds stay" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x5dm3bz4/grand-hotel-leeds-stay.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>