<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c20770d-20d1-4902-add5-94da58033e7d" Alias="Harvey Nichols department store in Leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HarveyNicholsDepartmentStoreInLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Harvey Nichols department store in Leeds" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qk4hnwvy/harvey-nichols-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>