<?xml version="1.0" encoding="utf-8"?>
<Media Key="cebab390-d0ed-40ba-80cf-9fc1952c0983" Alias="How to set up schema org markup" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HowToSetUpSchemaOrgMarkup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="How to set up schema org markup" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d32py4ee/how-to-set-up-schema-org-markup.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>