<?xml version="1.0" encoding="utf-8"?>
<Media Key="19b1a87c-2d67-48fb-a8da-3753282d5973" Alias="Hyde park picture house screening" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HydeParkPictureHouseScreening</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Hyde park picture house screening" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4nrpplyo/hyde-park-picture-house-screening.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>