<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc358b44-9b6c-4780-a930-a4fc1dde2cf1" Alias="Laynes Espresso coffee shop interior" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LaynesEspressoCoffeeShopInterior</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Laynes Espresso coffee shop interior" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/znahg4qf/laynes-espresso.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>