<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1c3ef6c-59e7-4a97-b948-59cf71dc39c5" Alias="Leeds grammar school" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeedsGrammarSchool</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Leeds grammar school" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2msjkv2o/leeds-grammar-school.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>