<?xml version="1.0" encoding="utf-8"?>
<Media Key="57415ac8-af42-47ff-8112-b82cd67714d4" Alias="Leeds central library" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeedsCentralLibrary</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Leeds central library" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i4iapyjl/leeds-central-library.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>