<?xml version="1.0" encoding="utf-8"?>
<Media Key="1598f388-4314-4c47-a28e-57d603699474" Alias="Leeds Rhinos rugby team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeedsRhinosRugbyTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Leeds Rhinos rugby team" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a22n3i13/leeds-rhinos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>