<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f5a65b5-089d-45dc-82fb-71997eadba5f" Alias="Leventhorpe vineyard" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeventhorpeVineyard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Leventhorpe vineyard" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hkxbz0pu/leventhorpe-vineyard.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>