<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c994d81-6ecd-4cf3-96f1-4ce07d64f9a3" Alias="Location enjoy digital" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LocationEnjoyDigital</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Location enjoy digital" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b0dn4kve/location-enjoy-digital.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>