<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a58dfda-6bc9-4f76-860a-24a7cd789b0a" Alias="Marks &amp; Spencer store in Leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MarksSpencerStoreInLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Marks &amp; Spencer store in Leeds" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kukb31fa/marks-spencer-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>