<?xml version="1.0" encoding="utf-8"?>
<Media Key="002247fe-3a32-4b1f-8a3d-28d42d3158da" Alias="Moor lodge campsite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MoorLodgeCampsite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Moor lodge campsite" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ogghjns1/moor-lodge-campsite.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>