<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdefea62-c3b7-4b68-a892-473d1880a08b" Alias="Schema quest" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SchemaQuest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Schema quest" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3uqks444/schema-quest.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>