<?xml version="1.0" encoding="utf-8"?>
<Media Key="4549ebd3-4e57-4de2-8e07-018f27bbb4e6" Alias="Schema sounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SchemaSounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Schema sounds" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lqqb52z4/schema-sounds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>