<?xml version="1.0" encoding="utf-8"?>
<Media Key="b283192c-0e74-41ad-96ba-9095ad300465" Alias="Schemeweaver source" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SchemeweaverSource</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Schemeweaver source" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/upjnkba3/schemeweaver-source.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>