<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2d0a74e-def5-494c-ba43-33b954f2b541" Alias="Smart watch" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SmartWatch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Smart watch" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yfwjmve2/smart-watch.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>