<?xml version="1.0" encoding="utf-8"?>
<Media Key="2130834c-e38f-4b78-96ac-cb10a647c273" Alias="Software engineer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SoftwareEngineer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Software engineer" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ynehnf5g/software-engineer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>