<?xml version="1.0" encoding="utf-8"?>
<Media Key="85f29af3-4642-4e29-81dd-0490c0752aa6" Alias="Type 2 diabetes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Type2Diabetes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Type 2 diabetes" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/prilimzl/type-2-diabetes.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>