<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0e0e1c9-1480-4746-9393-103f0d60590d" Alias="Wicked at leeds grand" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WickedAtLeedsGrand</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Wicked at leeds grand" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iyvlmbxj/wicked-at-leeds-grand.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>