<?xml version="1.0" encoding="utf-8"?>
<Media Key="106861bd-68ac-477e-8bfc-f466bd1f3641" Alias="Wireless headphones v2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WirelessHeadphonesV2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Wireless headphones v2" />
    <SortOrder>118</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gkvd3jwf/wireless-headphones-v2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>