<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdfb7c51-f946-43ec-9a83-3f9de33c85cb" Alias="Xscape Yorkshire indoor ski slope" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XscapeYorkshireIndoorSkiSlope</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Xscape Yorkshire indoor ski slope" />
    <SortOrder>119</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/101l04zp/xscape-yorkshire-ski-slope.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>