<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="D8F7D322-56D6-4C07-84C9-226CB830DC7E" Alias="departmentPage">
  <Info>
    <ContentTypeAlias>departmentPage</ContentTypeAlias>
    <ContentTypeKey>D8F7D322-56D6-4C07-84C9-226CB830DC7E</ContentTypeKey>
    <SchemaTypeName>Organization</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Location</SchemaPropertyName>
      <SourceType>sibling</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>streetAddress</ContentTypePropertyAlias>
      <SourceContentTypeAlias>localBusinessChild</SourceContentTypeAlias>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>