<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="AA55E8CC-0C00-408A-B0AD-109E613FF3B7" Alias="faqPage">
  <Info>
    <ContentTypeAlias>faqPage</ContentTypeAlias>
    <ContentTypeKey>AA55E8CC-0C00-408A-B0AD-109E613FF3B7</ContentTypeKey>
    <SchemaTypeName>FAQPage</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>MainEntity</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>faqItems</ContentTypePropertyAlias>
      <NestedSchemaTypeName>Question</NestedSchemaTypeName>
      <ResolverConfig><![CDATA[{"nestedMappings":[{"schemaProperty":"Name","contentProperty":"question"},{"schemaProperty":"AcceptedAnswer","contentProperty":"answer","wrapInType":"Answer","wrapInProperty":"Text"}]}]]></ResolverConfig>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>