<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="70470deb-330c-404e-919e-aa03b62d83aa" Alias="nestedBlocksPage" Level="0">
  <Info>
    <ContentTypeAlias>nestedBlocksPage</ContentTypeAlias>
    <ContentTypeKey>70470deb-330c-404e-919e-aa03b62d83aa</ContentTypeKey>
    <SchemaTypeName>WebPage</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__name</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>hasPart</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>sections</ContentTypePropertyAlias>
      <ResolverConfig><![CDATA[{"routes":[{"blockAlias":"section","nestedSchemaType":"WebPage","propertyMappings":[{"schemaProperty":"name","contentProperty":"heading"},{"schemaProperty":"mainEntity","contentProperty":"questions","routes":[{"blockAlias":"faqItem","nestedSchemaType":"Question","propertyMappings":[{"schemaProperty":"name","contentProperty":"question"},{"schemaProperty":"acceptedAnswer","contentProperty":"answer","wrapInType":"Answer","wrapInProperty":"text"}]}]}]}]}]]></ResolverConfig>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>