<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="6339F48C-6C29-4BC4-A389-86F88CC66DDD" Alias="newsArticle">
  <Info>
    <ContentTypeAlias>newsArticle</ContentTypeAlias>
    <ContentTypeKey>6339F48C-6C29-4BC4-A389-86F88CC66DDD</ContentTypeKey>
    <SchemaTypeName>NewsArticle</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Dateline</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>dateline</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Keywords</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>keywords</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>ArticleBody</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>bodyText</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>DatePublished</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>publishDate</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Headline</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>heroImage</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>DateCreated</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>__createDate</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>DateModified</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>__updateDate</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>DisambiguatingDescription</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Text</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>true</IsAutoMapped>
      <ContentTypePropertyAlias>bodyText</ContentTypePropertyAlias>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>