<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="30B4EF88-75AD-454E-8E20-DD8376AC04FF" Alias="skiResortPage">
  <Info>
    <ContentTypeAlias>skiResortPage</ContentTypeAlias>
    <ContentTypeKey>30B4EF88-75AD-454E-8E20-DD8376AC04FF</ContentTypeKey>
    <SchemaTypeName>SkiResort</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Telephone</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>telephone</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>heroImage</ContentTypePropertyAlias>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>