@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlogPage>
@{
    Layout = "Master.cshtml";
}
<article>
    <h1>@Model.Title</h1>
@{
    var heroImg = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("heroImage");
}
@if (heroImg != null)
{
    <img src="@heroImg.MediaUrl()" alt="@Model.Name" class="featured-image" />
}

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <p class="lead">@Model.Description</p>
    }
</article>