@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Drug Details</h2>
    <dl>
        @if (Model.HasValue("activeIngredient"))
        {
            <dt>Active Ingredient</dt>
            <dd>@Model.Value("activeIngredient")</dd>
        }
        @if (Model.HasValue("dosageForm"))
        {
            <dt>Dosage Form</dt>
            <dd>@Model.Value("dosageForm")</dd>
        }
    </dl>
</div>
