@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Report Details</h2>
    <dl>
        @if (Model.HasValue("authorName"))
        {
            <dt>Author</dt>
            <dd>@Model.Value("authorName")</dd>
        }
        @if (Model.HasValue("publishDate"))
        {
            <dt>Published</dt>
            <dd>@(((DateTime)Model.Value("publishDate")).ToString("d MMMM yyyy"))</dd>
        }
    </dl>
</div>
