@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<VariantArticle>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (Model.HeroImage != null)
{
    <img src="@Model.HeroImage.MediaUrl()" alt="@Model.HeroImage.Name" class="featured-image" />
}

@if (Model.BodyText != null)
{
    <div class="card">
        @Model.BodyText
    </div>
}