<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73863459-b6fa-432f-8f26-eec590a905ab" Alias="HowTo Steps Block List" Level="1">
  <Info>
    <Name>HowTo Steps Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2a68c3d3-362c-4742-b0a2-5901dd5c6d21",
      "label": "How-To Step"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>