<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e11bae07-c656-439c-9788-78163a6a44f5" Alias="Ingredients Block List" Level="1">
  <Info>
    <Name>Ingredients Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "37db2041-d170-452b-8378-1829948c6711",
      "label": "Recipe Ingredient"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>