<?xml version="1.0" encoding="utf-8"?>
<DataType Key="375a2bc4-dacf-4129-879f-6a738f1d8420" Alias="Reviews Block List" Level="1">
  <Info>
    <Name>Reviews Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "658e71d8-658e-44d9-b922-b717feed6d89",
      "label": "Review Item"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>