<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86707e93-0531-4cc8-92f1-5c655a648519" Alias="Sections Block List" Level="1">
  <Info>
    <Name>Sections Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c2d01261-e7e4-4c7f-866c-e515cd0e30ae",
      "label": "Section"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>