<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="635E9137-327F-4A37-8669-8D81D2B25CFE" Alias="apartmentPage">
  <Info>
    <ContentTypeAlias>apartmentPage</ContentTypeAlias>
    <ContentTypeKey>635E9137-327F-4A37-8669-8D81D2B25CFE</ContentTypeKey>
    <SchemaTypeName>Apartment</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>NumberOfRooms</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>numberOfRooms</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>FloorSize</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>floorSize</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>PetsAllowed</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>petsAllowed</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>heroImage</ContentTypePropertyAlias>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>