<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="1829E97F-6E67-489C-9700-511FCA4C59C0" Alias="homePage">
  <Info>
    <ContentTypeAlias>homePage</ContentTypeAlias>
    <ContentTypeKey>1829E97F-6E67-489C-9700-511FCA4C59C0</ContentTypeKey>
    <SchemaTypeName>WebSite</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>true</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>siteName</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>siteDescription</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>heroImage</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>MainEntity</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>contentGrid</ContentTypePropertyAlias>
      <NestedSchemaTypeName>WebPageElement</NestedSchemaTypeName>
      <ResolverConfig><![CDATA[{"nestedMappings":[{"schemaProperty":"Name","contentProperty":"title"},{"schemaProperty":"Headline","contentProperty":"subtitle"},{"schemaProperty":"Description","contentProperty":"description"},{"schemaProperty":"Image","contentProperty":"heroImage"},{"schemaProperty":"Image","contentProperty":"featureImage"},{"schemaProperty":"Text","contentProperty":"quote"},{"schemaProperty":"Author","contentProperty":"attribution","wrapInType":"Person","wrapInProperty":"Name"}]}]]></ResolverConfig>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>