<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="F18578A0-92B0-4CA3-88B9-DE6A5663CE0B" Alias="howToPage">
  <Info>
    <ContentTypeAlias>howToPage</ContentTypeAlias>
    <ContentTypeKey>F18578A0-92B0-4CA3-88B9-DE6A5663CE0B</ContentTypeKey>
    <SchemaTypeName>HowTo</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>TotalTime</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>totalTime</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>EstimatedCost</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>estimatedCost</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Step</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>howToSteps</ContentTypePropertyAlias>
      <NestedSchemaTypeName>HowToStep</NestedSchemaTypeName>
      <ResolverConfig><![CDATA[{"nestedMappings":[{"schemaProperty":"Name","contentProperty":"stepName"},{"schemaProperty":"Text","contentProperty":"stepText"}]}]]></ResolverConfig>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Tool</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>howToTools</ContentTypePropertyAlias>
      <ResolverConfig><![CDATA[{"extractAs":"stringList","contentProperty":"toolName"}]]></ResolverConfig>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>