<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="ED0A585D-1AB7-48CB-8BB8-FA207903C9F1" Alias="mobileAppPage">
  <Info>
    <ContentTypeAlias>mobileAppPage</ContentTypeAlias>
    <ContentTypeKey>ED0A585D-1AB7-48CB-8BB8-FA207903C9F1</ContentTypeKey>
    <SchemaTypeName>MobileApplication</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>OperatingSystem</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>operatingSystem</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>ApplicationCategory</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>applicationCategory</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>DownloadUrl</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>downloadUrl</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>SoftwareVersion</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>softwareVersion</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>heroImage</ContentTypePropertyAlias>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>