<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="51FA3FC6-E7C3-45C5-BDC9-9FC958C3D587" Alias="ngoPage">
  <Info>
    <ContentTypeAlias>ngoPage</ContentTypeAlias>
    <ContentTypeKey>51FA3FC6-E7C3-45C5-BDC9-9FC958C3D587</ContentTypeKey>
    <SchemaTypeName>NGO</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>FoundingDate</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>foundingDate</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>AreaServed</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>areaServed</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Url</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>__url</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>heroImage</ContentTypePropertyAlias>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>