<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="3A7ECEFB-6043-4DE5-BB53-E602864C6D75" Alias="productPage">
  <Info>
    <ContentTypeAlias>productPage</ContentTypeAlias>
    <ContentTypeKey>3A7ECEFB-6043-4DE5-BB53-E602864C6D75</ContentTypeKey>
    <SchemaTypeName>Product</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Sku</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>sku</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Brand</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>brand</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>productImage</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Review</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>reviews</ContentTypePropertyAlias>
      <NestedSchemaTypeName>Review</NestedSchemaTypeName>
      <ResolverConfig><![CDATA[{"nestedMappings":[{"schemaProperty":"Author","contentProperty":"reviewAuthor","wrapInType":"Person","wrapInProperty":"Name"},{"schemaProperty":"ReviewRating","contentProperty":"ratingValue"},{"schemaProperty":"ReviewBody","contentProperty":"reviewBody"},{"schemaProperty":"DatePublished","contentProperty":"reviewDate"}]}]]></ResolverConfig>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Category</SchemaPropertyName>
      <SourceType>parent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
      <SourceContentTypeAlias>productListing</SourceContentTypeAlias>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>