<?xml version="1.0" encoding="utf-8"?>
<SchemeWeaverMapping Key="9536A9B8-00A1-4BB7-BC76-8FF51D7DD4FD" Alias="recipePage">
  <Info>
    <ContentTypeAlias>recipePage</ContentTypeAlias>
    <ContentTypeKey>9536A9B8-00A1-4BB7-BC76-8FF51D7DD4FD</ContentTypeKey>
    <SchemaTypeName>Recipe</SchemaTypeName>
    <IsEnabled>true</IsEnabled>
    <IsInherited>false</IsInherited>
  </Info>
  <PropertyMappings>
    <PropertyMapping>
      <SchemaPropertyName>Name</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>title</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Description</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>description</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Image</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>heroImage</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>PrepTime</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>prepTime</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>CookTime</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>cookTime</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>TotalTime</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>totalTime</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>RecipeYield</SchemaPropertyName>
      <SourceType>property</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>recipeYield</ContentTypePropertyAlias>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>RecipeIngredient</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>ingredients</ContentTypePropertyAlias>
      <ResolverConfig><![CDATA[{"extractAs":"stringList","contentProperty":"ingredient"}]]></ResolverConfig>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>RecipeInstructions</SchemaPropertyName>
      <SourceType>blockContent</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>instructions</ContentTypePropertyAlias>
      <NestedSchemaTypeName>HowToStep</NestedSchemaTypeName>
      <ResolverConfig><![CDATA[{"nestedMappings":[{"schemaProperty":"Name","contentProperty":"stepName"},{"schemaProperty":"Text","contentProperty":"stepText"}]}]]></ResolverConfig>
    </PropertyMapping>
    <PropertyMapping>
      <SchemaPropertyName>Author</SchemaPropertyName>
      <SourceType>complexType</SourceType>
      <IsAutoMapped>false</IsAutoMapped>
      <ContentTypePropertyAlias>authorName</ContentTypePropertyAlias>
      <NestedSchemaTypeName>Person</NestedSchemaTypeName>
      <ResolverConfig><![CDATA[{"complexTypeMappings":[{"schemaProperty":"Name","sourceType":"property","contentTypePropertyAlias":"authorName"}]}]]></ResolverConfig>
    </PropertyMapping>
  </PropertyMappings>
</SchemeWeaverMapping>