@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Music Group Details</h2>
    <dl>
        @if (Model.HasValue("genre"))
        {
            <dt>Genre</dt>
            <dd>@Model.Value("genre")</dd>
        }
        @if (Model.HasValue("foundingDate"))
        {
            <dt>Founded</dt>
            <dd>@Model.Value("foundingDate")</dd>
        }
    </dl>
</div>
