<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d385dce-65be-45a5-b35f-213ee0f5e3ca" Alias="A 2023 Triumph Street Triple motorcycle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ATriumphStreetTripleMotorcycle</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:18</CreateDate>
    <NodeName Default="A 2023 Triumph Street Triple motorcycle" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iglh3k4x/2023-triumph-street-triple.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>