<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5338f88-a35d-4e28-a40e-12f591c21c41" Alias="Berry's Jewellers storefront in Leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BerrysJewellersStorefrontInLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Berry's Jewellers storefront in Leeds" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a3chkuzu/berry-s-jewellers-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>