<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7ecd69a-9680-4eed-b0d5-d4f935c9c2f0" Alias="Code for good" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CodeForGood</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Code for good" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cuokuypj/code-for-good.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>