<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c73c913-2407-4127-ab3e-a7a63306c57b" Alias="Coding bootcamp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CodingBootcamp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Coding bootcamp" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tqbdlsto/coding-bootcamp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>