<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa4177f9-8241-4fa7-98c8-082c048ce86b" Alias="Dacre, Son &amp; Hartley estate agent branch" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DacreSonHartleyEstateAgentBranch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Dacre, Son &amp; Hartley estate agent branch" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o04bohbi/dacre-son-hartley.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>