<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7c668ca-70ca-4a00-ab29-5b2b0af2950e" Alias="Data protection act 2018" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DataProtectionAct2018</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Data protection act 2018" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iwriaynd/data-protection-act-2018.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>