<?xml version="1.0" encoding="utf-8"?>
<Media Key="7491324c-ef81-4fa9-9c23-f304cbf43916" Alias="Dev talk ep 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DevTalkEp1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Dev talk ep 1" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yp2npqxi/dev-talk-ep-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>