<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e5ea917-fe5c-456e-8eb5-ae815855efe4" Alias="Event leeds utd vs city" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventLeedsUtdVsCity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:19</CreateDate>
    <NodeName Default="Event leeds utd vs city" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tbrbrkbv/event-leeds-utd-vs-city.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>