<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e0d862d-e336-4654-a61a-23e3073dd2d0" Alias="Family saloon 2024" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FamilySaloon2024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Family saloon 2024" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ujgexwc5/family-saloon-2024.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>