<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb1c693e-3fd3-4aac-a531-dcdf3ba6bafa" Alias="Fountains abbey" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FountainsAbbey</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Fountains abbey" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wgrfu5n0/fountains-abbey.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>