<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c178ad8-971b-4b0e-adce-5f114a8c1d55" Alias="Getting started with schema org" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GettingStartedWithSchemaOrg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Getting started with schema org" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k3afcots/getting-started-with-schema-org.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>