<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcb5e27e-39a9-4b7e-b21a-53656f46cd8e" Alias="Hays travel leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HaysTravelLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Hays travel leeds" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4eupg0wa/hays-travel-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>