<?xml version="1.0" encoding="utf-8"?>
<Media Key="14182257-d0cd-4b89-b59a-b14bb8acc332" Alias="Headingley festival" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeadingleyFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Headingley festival" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1duf3ive/headingley-festival.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>