<?xml version="1.0" encoding="utf-8"?>
<Media Key="220da4a5-5811-4ccc-8826-0521086494bc" Alias="Heal's furniture showroom in Leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HealsFurnitureShowroomInLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Heal's furniture showroom in Leeds" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fjxexfdy/heal-s-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>