<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e72885e-45f1-4ff7-8292-56a92693a1f0" Alias="Introduction to structured data" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IntroductionToStructuredData</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Introduction to structured data" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0fbdioey/introduction-to-structured-data.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>