<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a2d1cf1-a124-4206-8a26-6d0133f8096e" Alias="Jazz night at leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JazzNightAtLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Jazz night at leeds" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p1lgxxcn/jazz-night-at-leeds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>