<?xml version="1.0" encoding="utf-8"?>
<Media Key="6254f909-2406-410c-90f0-cf011ac6ad42" Alias="Kirkstall student accommodation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KirkstallStudentAccommodation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Kirkstall student accommodation" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qyzbfvdp/kirkstall-student-accommodation.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>