<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8700b27-461a-4454-9642-961568578ddd" Alias="Kwik Fit tyre and service centre, central Leeds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KwikFitTyreAndServiceCentreCentralLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Kwik Fit tyre and service centre, central Leeds" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vdadmhtt/kwik-fit-leeds-central.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>