<?xml version="1.0" encoding="utf-8"?>
<Media Key="def78aba-e35f-458a-9cc7-78991c4ea5c9" Alias="Leeds skyline" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeedsSkyline</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Leeds skyline" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gvalc0bw/leeds-skyline.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>