<?xml version="1.0" encoding="utf-8"?>
<Media Key="dccc6a00-8c12-4c61-848f-d542cb407ca6" Alias="Leeds general infirmary" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeedsGeneralInfirmary</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Leeds general infirmary" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r4qiu0t1/leeds-general-infirmary.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>