<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e84905d-27f9-412d-81e5-59abe7e2c9bd" Alias="Leeds pathlab diagnostics" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeedsPathlabDiagnostics</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Leeds pathlab diagnostics" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0jnmfgeq/leeds-pathlab-diagnostics.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>