<?xml version="1.0" encoding="utf-8"?>
<Media Key="1faa134c-f772-499b-9b17-5baf49bb6ae1" Alias="Leeds city council" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeedsCityCouncil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:20</CreateDate>
    <NodeName Default="Leeds city council" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ypmpzki1/leeds-city-council.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>