<?xml version="1.0" encoding="utf-8"?>
<Media Key="94ae94f6-8201-4431-9428-59efcd648345" Alias="Mint warehouse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MintWarehouse</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Mint warehouse" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pfpoqiti/mint-warehouse.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>