<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6d4b3c1-2b02-4b84-b0f0-e4fdd6e5417f" Alias="Northern lights" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NorthernLights</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Northern lights" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jz2jeqdl/northern-lights.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>