<?xml version="1.0" encoding="utf-8"?>
<Media Key="fef479b9-7ec8-4649-88f0-b4d2c224c542" Alias="Queens hotel penthouse suite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QueensHotelPenthouseSuite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Queens hotel penthouse suite" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g0zlesfb/queens-hotel-penthouse-suite.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>