<?xml version="1.0" encoding="utf-8"?>
<Media Key="a79d5402-dedc-422f-9061-89b6fde48a0c" Alias="Schemeweaver dev blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SchemeweaverDevBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:21</CreateDate>
    <NodeName Default="Schemeweaver dev blog" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rwpnwenv/schemeweaver-dev-blog.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>