<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae86b25d-8ee5-4a95-887c-d4c87294343c" Alias="TechCorp PLC corporate headquarters" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TechCorpPLCCorporateHeadquarters</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="TechCorp PLC corporate headquarters" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0j2magem/techcorp-plc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>