<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcb7949f-ce3f-49a4-ad10-95ca3086db60" Alias="The future of structured data" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TheFutureOfStructuredData</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="The future of structured data" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cbppcssw/the-future-of-structured-data.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>