<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b0eaea8-a5e1-4335-9223-66e88795252f" Alias="Umbraco in practice" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoInPractice</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Umbraco in practice" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e3serhmi/umbraco-in-practice.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>