<?xml version="1.0" encoding="utf-8"?>
<Media Key="f16dfa55-4171-416f-a6ee-d9f430e83b09" Alias="Umbraco uk fest 2026 live blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoUkFest2026LiveBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Umbraco uk fest 2026 live blog" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1iycwryy/umbraco-uk-fest-2026-live-blog.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>