<?xml version="1.0" encoding="utf-8"?>
<Media Key="04e6025a-dab9-48af-962e-519a5d3072f9" Alias="Umbraco the documentary" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoTheDocumentary</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Umbraco the documentary" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0xekbmwq/umbraco-the-documentary.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>