<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6f9cff8-1b77-48dc-9321-bf67ddce9d15" Alias="Victorian terrace headingley" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VictorianTerraceHeadingley</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Victorian terrace headingley" />
    <SortOrder>108</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o2cl4ya4/victorian-terrace-headingley.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>