<?xml version="1.0" encoding="utf-8"?>
<Media Key="027d4ae8-cd83-4514-be17-aba04c0a5031" Alias="Walker Morris LLP law firm offices" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WalkerMorrisLLPLawFirmOffices</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Walker Morris LLP law firm offices" />
    <SortOrder>109</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m4adxnhk/walker-morris-llp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>