<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a465dd9-a49f-4ce2-a570-4f0bd20177e3" Alias="Wireless headphones v1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WirelessHeadphonesV1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-16T15:15:22</CreateDate>
    <NodeName Default="Wireless headphones v1" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k0lbbhhw/wireless-headphones-v1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>