<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8d1c1fd-9662-4c90-95e7-4111812ef9fc" Alias="2023 Triumph Street Triple" Level="4">
  <Info>
    <Parent Key="69557712-6af7-43c3-b277-789d711ff550">Automotive</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Automotive/TriumphStreetTriple</Path>
    <Trashed>false</Trashed>
    <ContentType>motorcyclePage</ContentType>
    <CreateDate>2026-04-16T15:15:34</CreateDate>
    <NodeName Default="2023 Triumph Street Triple" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="733c6dc9-12f0-4458-a0a2-dce743ec4dfb">motorcyclePage</Template>
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Triumph]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Matt Jet Black]]></Value>
    </color>
    <description>
      <Value><![CDATA[Triumph Street Triple 765cc — the perfect balance of performance and everyday usability from a British icon.]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Petrol]]></Value>
    </fuelType>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "6c88312a-499c-4da8-b463-d01a47b35233",
    "mediaKey": "1d385dce-65be-45a5-b35f-213ee0f5e3ca"
  }
]]]></Value>
    </heroImage>
    <mileageFromOdometer>
      <Value><![CDATA[4200 miles]]></Value>
    </mileageFromOdometer>
    <model>
      <Value><![CDATA[Street Triple 765]]></Value>
    </model>
    <title>
      <Value><![CDATA[2023 Triumph Street Triple]]></Value>
    </title>
  </Properties>
</Content>