<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d50dab6-2f41-44f8-97e5-6e7b764fcfb5" Alias="About Us" Level="2">
  <Info>
    <Parent Key="edaf892f-08cc-4aaa-9962-867c45aa33ae">SchemeWeaver Demo Site</Parent>
    <Path>/SchemeWeaverDemoSite/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2026-04-16T15:15:24</CreateDate>
    <NodeName Default="About Us">
      <Name Culture="de-DE">Über uns</Name>
      <Name Culture="en-US">About Us</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="f2274a65-d8d0-4be4-9de4-eb488caca287">aboutPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="de-DE"><![CDATA[<p>Wir sind ein engagiertes Team von Webentwicklern, das sich auf Umbraco CMS und strukturierte Daten spezialisiert hat. Seit 2006 erstellen wir außergewöhnliche digitale Erlebnisse für unsere Kunden.</p>]]></Value>
      <Value Culture="en-US"><![CDATA[<p>Enjoy Digital has been building exceptional digital experiences since 2006. We specialise in Umbraco CMS, .NET development, and helping organisations improve their search visibility through structured data.</p>]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[We are a digital agency specialising in Umbraco CMS development and structured data solutions.]]></Value>
    </description>
    <foundingDate>
      <Value><![CDATA[2006]]></Value>
    </foundingDate>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <numberOfEmployees>
      <Value><![CDATA[50]]></Value>
    </numberOfEmployees>
    <organisationName>
      <Value><![CDATA[Enjoy Digital]]></Value>
    </organisationName>
    <title>
      <Value Culture="de-DE"><![CDATA[Über uns]]></Value>
      <Value Culture="en-US"><![CDATA[About Enjoy Digital]]></Value>
    </title>
  </Properties>
</Content>