<?xml version="1.0" encoding="utf-8"?>
<Content Key="73c0067b-80b0-4584-9b25-2f4c16ff99c5" Alias="Bramham Park Gated Community" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/BramhamParkGatedCommunity</Path>
    <Trashed>false</Trashed>
    <ContentType>gatedResidenceCommunityPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Bramham Park Gated Community" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c53225de-9246-4edc-9144-a91d6d0f8256">gatedResidenceCommunityPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Wetherby]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Exclusive gated development of 12 luxury homes set within the Bramham Park estate with 24-hour security and communal grounds.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c264d17c-03cb-4b82-b553-fb3f106565bd",
    "mediaKey": "d3329dd4-c894-4a84-83a4-1f2c1950dccb"
  }
]]]></Value>
    </heroImage>
    <numberOfAccommodationUnits>
      <Value><![CDATA[12]]></Value>
    </numberOfAccommodationUnits>
    <petsAllowed>
      <Value><![CDATA[Yes]]></Value>
    </petsAllowed>
    <postalCode>
      <Value><![CDATA[LS23 6ND]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Bramham Park Estate]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[Bramham Park Gated Community]]></Value>
    </title>
  </Properties>
</Content>