<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5c6470f-2e21-4682-b753-137e511560c9" Alias="Building Lit Web Components for Umbraco" Level="3">
  <Info>
    <Parent Key="18a0cb95-c63d-4ff4-8221-874b025924cc">Blog</Parent>
    <Path>/SchemeWeaverDemoSite/Blog/BuildingLitWebComponentsForUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>techArticle</ContentType>
    <CreateDate>2026-04-16T15:15:26</CreateDate>
    <NodeName Default="Building Lit Web Components for Umbraco" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="261f27c9-136f-4023-a5fc-bc38ca5dd953">techArticle</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Oliver Picton]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>Umbraco's new backoffice is built on Lit web components. This guide shows you how to create custom property editors, dashboards, and workspace views.</p>]]></Value>
    </bodyText>
    <dependencies>
      <Value><![CDATA[Lit 3.x, TypeScript 5.x, Umbraco 17+]]></Value>
    </dependencies>
    <description>
      <Value><![CDATA[A technical guide to building Umbraco backoffice extensions with Lit web components.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "2720de39-8354-4e99-8da9-acfd60cdb212",
    "mediaKey": "ed1e089b-8c9a-465d-a573-42fdae2fab97"
  }
]]]></Value>
    </heroImage>
    <proficiencyLevel>
      <Value><![CDATA[Advanced]]></Value>
    </proficiencyLevel>
    <publishDate>
      <Value><![CDATA[2026-04-09T16:15:26]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Building Lit Web Components for Umbraco]]></Value>
    </title>
  </Properties>
</Content>