<?xml version="1.0" encoding="utf-8"?>
<Content Key="8aa1bb78-0d38-4846-a8d4-e880fadbfea8" Alias="Classic Victoria Sponge" Level="4">
  <Info>
    <Parent Key="e48dd6bd-9655-4033-827d-a9d41119dbc7">Recipes</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Recipes/ClassicVictoriaSponge</Path>
    <Trashed>false</Trashed>
    <ContentType>recipePage</ContentType>
    <CreateDate>2026-04-16T15:15:26</CreateDate>
    <NodeName Default="Classic Victoria Sponge">
      <Name Culture="de-DE">Omas Apfelkuchen</Name>
      <Name Culture="en-US">Classic Victoria Sponge</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="711bf86d-b811-43c0-9474-d4068fdf8684">recipePage</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Mary Berry]]></Value>
    </authorName>
    <calories>
      <Value><![CDATA[350 kcal]]></Value>
    </calories>
    <cookTime>
      <Value><![CDATA[PT25M]]></Value>
    </cookTime>
    <description>
      <Value Culture="de-DE"><![CDATA[Ein traditionelles deutsches Apfelkuchenrezept nach Großmutters Art]]></Value>
      <Value Culture="en-US"><![CDATA[A traditional British cake recipe]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "869d6c5a-720a-4b20-9895-db26758bdcfc",
    "mediaKey": "7e29fa59-db25-4af0-b291-d30394196256"
  }
]]]></Value>
    </heroImage>
    <ingredients>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "37db2041-d170-452b-8378-1829948c6711",
      "key": "370b7746-5f69-4370-89ee-e73482cf0948",
      "values": [
        {
          "alias": "ingredient",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "200g self-raising flour"
        }
      ]
    },
    {
      "contentTypeKey": "37db2041-d170-452b-8378-1829948c6711",
      "key": "201c5ab2-b3fc-441f-b555-29ef05712a72",
      "values": [
        {
          "alias": "ingredient",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "200g caster sugar"
        }
      ]
    },
    {
      "contentTypeKey": "37db2041-d170-452b-8378-1829948c6711",
      "key": "827c58c7-ff7b-4f39-a940-370ec859455a",
      "values": [
        {
          "alias": "ingredient",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "200g softened butter"
        }
      ]
    },
    {
      "contentTypeKey": "37db2041-d170-452b-8378-1829948c6711",
      "key": "c84a159b-0aff-42ad-8432-84176fb27400",
      "values": [
        {
          "alias": "ingredient",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4 large eggs"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "370b7746-5f69-4370-89ee-e73482cf0948",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "201c5ab2-b3fc-441f-b555-29ef05712a72",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "827c58c7-ff7b-4f39-a940-370ec859455a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c84a159b-0aff-42ad-8432-84176fb27400",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "370b7746-5f69-4370-89ee-e73482cf0948",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "201c5ab2-b3fc-441f-b555-29ef05712a72",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "827c58c7-ff7b-4f39-a940-370ec859455a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c84a159b-0aff-42ad-8432-84176fb27400",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </ingredients>
    <instructions>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f30480b3-c18b-44f8-8f2a-6be5d0ffdc8c",
      "key": "3451fa9b-3a5b-432e-a228-9952ff57e335",
      "values": [
        {
          "alias": "stepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Prepare"
        },
        {
          "alias": "stepText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Preheat oven to 180C/160C fan/gas 4. Grease and line two 20cm sandwich tins."
        }
      ]
    },
    {
      "contentTypeKey": "f30480b3-c18b-44f8-8f2a-6be5d0ffdc8c",
      "key": "25b53a88-d173-485f-b835-7d2e0d25a59b",
      "values": [
        {
          "alias": "stepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Mix"
        },
        {
          "alias": "stepText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Beat together the butter and sugar until pale and fluffy. Add eggs one at a time, folding in flour."
        }
      ]
    },
    {
      "contentTypeKey": "f30480b3-c18b-44f8-8f2a-6be5d0ffdc8c",
      "key": "8a1a031d-946b-4eb8-b37f-4b6d0a5474a4",
      "values": [
        {
          "alias": "stepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bake"
        },
        {
          "alias": "stepText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Divide between the tins and bake for 20-25 minutes until golden and springy to touch."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3451fa9b-3a5b-432e-a228-9952ff57e335",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "25b53a88-d173-485f-b835-7d2e0d25a59b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8a1a031d-946b-4eb8-b37f-4b6d0a5474a4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3451fa9b-3a5b-432e-a228-9952ff57e335",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "25b53a88-d173-485f-b835-7d2e0d25a59b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8a1a031d-946b-4eb8-b37f-4b6d0a5474a4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </instructions>
    <prepTime>
      <Value><![CDATA[PT20M]]></Value>
    </prepTime>
    <recipeCategory>
      <Value><![CDATA[Dessert]]></Value>
    </recipeCategory>
    <recipeCuisine>
      <Value><![CDATA[British]]></Value>
    </recipeCuisine>
    <recipeImage>
      <Value><![CDATA[]]></Value>
    </recipeImage>
    <recipeYield>
      <Value><![CDATA[Serves 8]]></Value>
    </recipeYield>
    <title>
      <Value Culture="de-DE"><![CDATA[Omas Apfelkuchen]]></Value>
      <Value Culture="en-US"><![CDATA[Classic Victoria Sponge]]></Value>
    </title>
    <totalTime>
      <Value><![CDATA[PT45M]]></Value>
    </totalTime>
  </Properties>
</Content>