<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8e29d44-bacf-4287-8eaa-2ac437493c53" Alias="Conferences" Level="4">
  <Info>
    <Parent Key="51f0a4a3-f8ba-42ac-9bb5-af4359d0c470">Events</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/Conferences</Path>
    <Trashed>false</Trashed>
    <ContentType>eventListing</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="Conferences" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c163d39-4146-416a-8724-ccb1d71ad549">eventListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Tech conferences, summits, and bootcamps]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Conferences]]></Value>
    </title>
  </Properties>
</Content>