<?xml version="1.0" encoding="utf-8"?>
<Content Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b" Alias="Creative" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative</Path>
    <Trashed>false</Trashed>
    <ContentType>creativeListing</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Creative" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a7c4c81e-c7a0-4d03-a776-e7c1491b21c0">creativeListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Films, music, podcasts, and more.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Creative]]></Value>
    </title>
  </Properties>
</Content>