<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6445980-e917-47f2-a3db-3c8593449ad7" Alias="Detached Family Home, Alwoodley" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/DetachedFamilyHomeAlwoodley</Path>
    <Trashed>false</Trashed>
    <ContentType>singleFamilyResidencePage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Detached Family Home, Alwoodley" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da31f40f-2861-4156-a96e-6a33f17e8ccc">singleFamilyResidencePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Stunning four-bedroom detached family home with double garage, landscaped gardens, and views over Eccup Reservoir.]]></Value>
    </description>
    <floorSize>
      <Value><![CDATA[220 sqm]]></Value>
    </floorSize>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "ab77f38d-a998-421c-bd36-b4796b05606b",
    "mediaKey": "4bb9a8a9-a9ed-4b2d-8980-96828e3c53e6"
  }
]]]></Value>
    </heroImage>
    <numberOfBathroomsTotal>
      <Value><![CDATA[3]]></Value>
    </numberOfBathroomsTotal>
    <numberOfRooms>
      <Value><![CDATA[8]]></Value>
    </numberOfRooms>
    <postalCode>
      <Value><![CDATA[LS17 8SA]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[42 Wigton Lane]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[Detached Family Home, Alwoodley]]></Value>
    </title>
    <yearBuilt>
      <Value><![CDATA[1998]]></Value>
    </yearBuilt>
  </Properties>
</Content>