<?xml version="1.0" encoding="utf-8"?>
<Content Key="60761344-5fa5-47ac-b435-1cec9deed966" Alias="Digital Summit 2026" Level="5">
  <Info>
    <Parent Key="a8e29d44-bacf-4287-8eaa-2ac437493c53">Conferences</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/Conferences/DigitalSummit2026</Path>
    <Trashed>false</Trashed>
    <ContentType>businessEventPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Digital Summit 2026" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="515d0511-0386-4824-ac3b-3c836733b4f5">businessEventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Yorkshire's premier digital conference bringing together industry leaders, developers, and designers.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "004764cf-7be3-40e9-8043-6998de5f6490",
    "mediaKey": "11012b0c-a3eb-4e55-a26a-27f33b65d3ac"
  }
]]]></Value>
    </heroImage>
    <locationName>
      <Value><![CDATA[Leeds Dock]]></Value>
    </locationName>
    <organiserName>
      <Value><![CDATA[Enjoy Digital]]></Value>
    </organiserName>
    <sponsor>
      <Value><![CDATA[Umbraco HQ]]></Value>
    </sponsor>
    <startDate>
      <Value><![CDATA[2026-10-08T09:00:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Digital Summit 2026]]></Value>
    </title>
  </Properties>
</Content>