<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c3705d7-49cf-4cde-85db-b47ebade7b4b" Alias="Direct Line Leeds" Level="4">
  <Info>
    <Parent Key="fe77b413-a393-40ff-8061-4a07e484017c">Services</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Services/DirectLineLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>insurancePage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Direct Line Leeds" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="50b2d201-49aa-4e33-8a9a-383d97e27512">insurancePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Insurance services covering home, motor, travel, and business from a well-known British insurer with a Leeds regional office.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c9761637-bff6-4fee-8e47-2f9d6131b7ad",
    "mediaKey": "206374e2-0d86-4b10-a33e-4c8fc199f638"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[3 Brewery Wharf]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 345 246 8704]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Direct Line Leeds]]></Value>
    </title>
  </Properties>
</Content>