<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba2fa2a2-732f-4d2e-a5a1-edb4dc769dd6" Alias="Dr Sarah Mitchell" Level="4">
  <Info>
    <Parent Key="12c0c645-2982-4f71-8718-a85e95f3e8a7">Healthcare</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare/DrSarahMitchell</Path>
    <Trashed>false</Trashed>
    <ContentType>physicianPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Dr Sarah Mitchell" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e6e6f42c-1e34-46b9-abd6-d332035db49e">physicianPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Experienced GP at Leeds Medical Centre, specialising in family medicine and preventive healthcare.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "02f6baca-0ec2-4833-8399-74ee1aeaa166",
    "mediaKey": "a55e83d9-4607-47e5-acb7-717db8c6fec6"
  }
]]]></Value>
    </heroImage>
    <medicalSpecialty>
      <Value><![CDATA[General Practice]]></Value>
    </medicalSpecialty>
    <streetAddress>
      <Value><![CDATA[4 Great George Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 295 4400]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Dr Sarah Mitchell]]></Value>
    </title>
  </Properties>
</Content>