<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f5d226d-ef27-4971-8560-10d1aa34241e" Alias="Electronics" Level="4">
  <Info>
    <Parent Key="3f115f1e-db07-4c91-a5e5-7569b8355c88">Products</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Electronics</Path>
    <Trashed>false</Trashed>
    <ContentType>productListing</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="Electronics" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beb38d7-25f3-4e46-bb6b-95592e847083">productListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Electronic devices and gadgets]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Electronics]]></Value>
    </title>
  </Properties>
</Content>