<?xml version="1.0" encoding="utf-8"?>
<Content Key="719024c6-edc4-48f3-951f-f2a3c834268f" Alias="Elland Road" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/EllandRoad</Path>
    <Trashed>false</Trashed>
    <ContentType>stadiumPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Elland Road" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7d796587-44f6-41b0-bede-59341fef57a3">stadiumPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Home ground of Leeds United Football Club since 1919, with a capacity of over 37,000.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "415640ba-bd5b-4a16-bbbd-87f94f0bf4a9",
    "mediaKey": "b548d01b-53a0-44fe-b52e-8a724bc953a3"
  }
]]]></Value>
    </heroImage>
    <maximumAttendeeCapacity>
      <Value><![CDATA[37890]]></Value>
    </maximumAttendeeCapacity>
    <postalCode>
      <Value><![CDATA[LS11 0ES]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Elland Road]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 367 6000]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Elland Road]]></Value>
    </title>
  </Properties>
</Content>