<?xml version="1.0" encoding="utf-8"?>
<Content Key="903a0b75-90e5-4e3d-ad91-234f0b0dfeb4" Alias="Enjoy Digital" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/EnjoyDigital</Path>
    <Trashed>false</Trashed>
    <ContentType>locationPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Enjoy Digital" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75b78533-9a27-48c6-ac44-212c1419c1f5">locationPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <addressRegion>
      <Value><![CDATA[West Yorkshire]]></Value>
    </addressRegion>
    <description>
      <Value><![CDATA[Digital agency specialising in Umbraco CMS development and structured data solutions.]]></Value>
    </description>
    <email>
      <Value><![CDATA[hello@enjoy-digital.co.uk]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b5511bc4-15f9-4f25-980a-78af548e13a7",
    "mediaKey": "9c994d81-6ecd-4cf3-96f1-4ce07d64f9a3"
  }
]]]></Value>
    </heroImage>
    <latitude>
      <Value><![CDATA[53.7997]]></Value>
    </latitude>
    <longitude>
      <Value><![CDATA[-1.5492]]></Value>
    </longitude>
    <openingHours>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "46e3ffda-2d5a-4b6c-925a-1ffdf569bd54",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Monday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "09:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "17:30"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "be603c04-7c6e-455c-80db-261e581e58d2",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tuesday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "09:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "17:30"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "58a3c6e6-a20b-4c91-9745-fb4e09630853",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Wednesday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "09:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "17:30"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "c2bc6f67-95ab-46e1-9534-a51afd7a9e94",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Thursday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "09:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "17:30"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "3bea7002-2959-41d5-9aba-ad994ce9142c",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Friday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "09:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "17:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "46e3ffda-2d5a-4b6c-925a-1ffdf569bd54",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "be603c04-7c6e-455c-80db-261e581e58d2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "58a3c6e6-a20b-4c91-9745-fb4e09630853",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c2bc6f67-95ab-46e1-9534-a51afd7a9e94",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3bea7002-2959-41d5-9aba-ad994ce9142c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "46e3ffda-2d5a-4b6c-925a-1ffdf569bd54",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "be603c04-7c6e-455c-80db-261e581e58d2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "58a3c6e6-a20b-4c91-9745-fb4e09630853",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c2bc6f67-95ab-46e1-9534-a51afd7a9e94",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3bea7002-2959-41d5-9aba-ad994ce9142c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </openingHours>
    <postalCode>
      <Value><![CDATA[LS1 5HD]]></Value>
    </postalCode>
    <priceRange>
      <Value><![CDATA[$$]]></Value>
    </priceRange>
    <streetAddress>
      <Value><![CDATA[7 Park Row]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 357 0000]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Enjoy Digital]]></Value>
    </title>
  </Properties>
</Content>