<?xml version="1.0" encoding="utf-8"?>
<Content Key="854a1c4f-23c3-44ec-b29a-ff0e251637d8" Alias="Family Saloon 2024" Level="5">
  <Info>
    <Parent Key="d8f77876-ea1e-4318-a0dd-fe341faa39c2">Automotive</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Automotive/FamilySaloon2024</Path>
    <Trashed>false</Trashed>
    <ContentType>vehiclePage</ContentType>
    <CreateDate>2026-04-16T15:15:27</CreateDate>
    <NodeName Default="Family Saloon 2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="60dc2d20-a8ed-4093-972d-46b73fabb525">vehiclePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This well-maintained Ford Focus is perfect for families. Low mileage, full service history, and one previous owner. MOT until March 2027.</p>]]></Value>
    </bodyText>
    <brand>
      <Value><![CDATA[Ford]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Magnetic Grey]]></Value>
    </color>
    <description>
      <Value><![CDATA[A reliable and efficient family car with modern features and excellent fuel economy.]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Petrol]]></Value>
    </fuelType>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8ca61867-77fc-40b4-a79a-956c04d99233",
    "mediaKey": "6e0d862d-e336-4654-a61a-23e3073dd2d0"
  }
]]]></Value>
    </heroImage>
    <mileageFromOdometer>
      <Value><![CDATA[15000 miles]]></Value>
    </mileageFromOdometer>
    <model>
      <Value><![CDATA[Focus]]></Value>
    </model>
    <numberOfDoors>
      <Value><![CDATA[5]]></Value>
    </numberOfDoors>
    <title>
      <Value><![CDATA[Family Saloon 2024]]></Value>
    </title>
    <vehicleEngine>
      <Value><![CDATA[1.5L EcoBoost]]></Value>
    </vehicleEngine>
  </Properties>
</Content>