<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d204ce3-3cb9-41c7-b5d0-abd3b0afef0f" Alias="Flight FR2045" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/FlightFR2045</Path>
    <Trashed>false</Trashed>
    <ContentType>flightPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Flight FR2045" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="11f41c42-0652-4fc2-8dd8-8e7480c7b7fd">flightPage</Template>
  </Info>
  <Properties>
    <arrivalAirport>
      <Value><![CDATA[Malaga Airport (AGP)]]></Value>
    </arrivalAirport>
    <arrivalTime>
      <Value><![CDATA[2026-07-20T10:45:00]]></Value>
    </arrivalTime>
    <departureAirport>
      <Value><![CDATA[Leeds Bradford Airport (LBA)]]></Value>
    </departureAirport>
    <departureTime>
      <Value><![CDATA[2026-07-20T06:30:00]]></Value>
    </departureTime>
    <description>
      <Value><![CDATA[Direct flight from Leeds Bradford to Malaga Costa del Sol, operated by Ryanair.]]></Value>
    </description>
    <flightNumber>
      <Value><![CDATA[FR2045]]></Value>
    </flightNumber>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "a5a1f478-3cb8-4ddb-87a5-75afb9d6d70e",
    "mediaKey": "36450cad-a44e-4a4f-9b81-ff8ad75b6cdc"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Flight FR2045 — Leeds to Malaga]]></Value>
    </title>
  </Properties>
</Content>