<?xml version="1.0" encoding="utf-8"?>
<Content Key="84d2bf35-965a-441e-8bf5-6b5ea52d1033" Alias="Food &amp; Festivals" Level="4">
  <Info>
    <Parent Key="51f0a4a3-f8ba-42ac-9bb5-af4359d0c470">Events</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/FoodFestivals</Path>
    <Trashed>false</Trashed>
    <ContentType>eventListing</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="Food &amp; Festivals" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c163d39-4146-416a-8724-ccb1d71ad549">eventListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Food events, festivals, and outdoor celebrations]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Food & Festivals]]></Value>
    </title>
  </Properties>
</Content>