<?xml version="1.0" encoding="utf-8"?>
<Content Key="91df8e6d-3de1-4956-bfbc-27669f15ec3a" Alias="Getting Started with Schema.org" Level="3">
  <Info>
    <Parent Key="18a0cb95-c63d-4ff4-8221-874b025924cc">Blog</Parent>
    <Path>/SchemeWeaverDemoSite/Blog/GettingStartedWithSchemaorg</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2026-04-16T15:15:26</CreateDate>
    <NodeName Default="Getting Started with Schema.org">
      <Name Culture="de-DE">Zehn Tipps für besseres SEO</Name>
      <Name Culture="en-US">Getting Started with Schema.org</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="5fa9fda2-ad61-4dfd-b3a2-adb6488b53dc">blogArticle</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Oliver]]></Value>
    </authorName>
    <bodyText>
      <Value Culture="de-DE"><![CDATA[<p>Schema.org bietet ein gemeinsames Vokabular für strukturierte Datenauszeichnung auf Webseiten. Strukturierte Daten helfen Suchmaschinen, den Inhalt Ihrer Seiten besser zu verstehen und reichhaltigere Suchergebnisse anzuzeigen.</p>]]></Value>
      <Value Culture="en-US"><![CDATA[<p>Schema.org provides a shared vocabulary for structured data markup on web pages.</p>]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[Technology]]></Value>
    </category>
    <description>
      <Value Culture="de-DE"><![CDATA[Erfahren Sie, wie strukturierte Daten Suchmaschinen helfen, Ihre Inhalte zu verstehen.]]></Value>
      <Value Culture="en-US"><![CDATA[Learn how structured data helps search engines understand your content.]]></Value>
    </description>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8b0b3beb-bc5f-4939-9961-c8d01bfe2aba",
    "mediaKey": "8c178ad8-971b-4b0e-adce-5f114a8c1d55"
  }
]]]></Value>
    </heroImage>
    <keywords>
      <Value><![CDATA[schema.org, structured data, SEO]]></Value>
    </keywords>
    <publishDate>
      <Value><![CDATA[2026-04-16T16:15:26]]></Value>
    </publishDate>
    <title>
      <Value Culture="de-DE"><![CDATA[Zehn Tipps für besseres SEO]]></Value>
      <Value Culture="en-US"><![CDATA[Getting Started with Schema.org]]></Value>
    </title>
  </Properties>
</Content>