<?xml version="1.0" encoding="utf-8"?>
<Content Key="893c8c7b-f64b-46fe-a406-2eb852636a54" Alias="Hays Travel Leeds" Level="4">
  <Info>
    <Parent Key="fe77b413-a393-40ff-8061-4a07e484017c">Services</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Services/HaysTravelLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>travelAgencyPage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Hays Travel Leeds" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e446d44-9e03-4ae3-9270-7bf1704be2bc">travelAgencyPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Independent travel agency on Briggate offering package holidays, cruises, and tailor-made trips worldwide.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "fc04a960-a69b-43b5-bce2-30a775ad3819",
    "mediaKey": "dcb5e27e-39a9-4b7e-b21a-53656f46cd8e"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[56 Briggate]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 242 0099]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Hays Travel Leeds]]></Value>
    </title>
  </Properties>
</Content>