<?xml version="1.0" encoding="utf-8"?>
<Content Key="5157676e-aed0-46a7-b327-1e8222c6c27c" Alias="Headingley Festival" Level="5">
  <Info>
    <Parent Key="84d2bf35-965a-441e-8bf5-6b5ea52d1033">Food &amp; Festivals</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/FoodFestivals/HeadingleyFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>festivalPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Headingley Festival" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f6b6268e-9219-4f77-861b-2de4e3021d38">festivalPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[A weekend of music, comedy, and arts in the heart of Headingley — Leeds' favourite summer gathering.]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[2026-08-03T23:00:00]]></Value>
    </endDate>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "112ba4d9-7db8-4944-94e5-5c3f870d1f37",
    "mediaKey": "14182257-d0cd-4b89-b59a-b14bb8acc332"
  }
]]]></Value>
    </heroImage>
    <locationName>
      <Value><![CDATA[Headingley Stadium, Leeds]]></Value>
    </locationName>
    <startDate>
      <Value><![CDATA[2026-08-01T12:00:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Headingley Festival]]></Value>
    </title>
  </Properties>
</Content>