<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa8daac4-291f-406b-abbb-d8c7a320a204" Alias="Headphones Pro v2" Level="5">
  <Info>
    <Parent Key="4f5d226d-ef27-4971-8560-10d1aa34241e">Electronics</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Electronics/HeadphonesProV2</Path>
    <Trashed>false</Trashed>
    <ContentType>productModelPage</ContentType>
    <CreateDate>2026-04-16T15:15:27</CreateDate>
    <NodeName Default="Headphones Pro v2" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="211baac7-e04f-4f56-b4fd-51833cab7d34">productModelPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Building on the success of the original Headphones Pro, the v2 features 40-hour battery life, adaptive noise cancellation, and support for spatial audio. Available in Midnight Black, Arctic White, and Leeds Blue.</p>]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[The second generation of our award-winning noise-cancelling headphones with improved battery life and spatial audio.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "5786d08e-169b-409a-8aea-0a2d85880f4c",
    "mediaKey": "106861bd-68ac-477e-8bfc-f466bd1f3641"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Headphones Pro v2]]></Value>
    </title>
  </Properties>
</Content>