<?xml version="1.0" encoding="utf-8"?>
<Content Key="12c0c645-2982-4f71-8718-a85e95f3e8a7" Alias="Healthcare" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare</Path>
    <Trashed>false</Trashed>
    <ContentType>healthcareListing</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Healthcare" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="69f55dc0-99fd-42f2-9a0a-bce3d5ead10a">healthcareListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Medical services, conditions, and pharmaceuticals.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Healthcare]]></Value>
    </title>
  </Properties>
</Content>