<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8e50281-dc2f-4079-820f-cd4f2639e472" Alias="How to Set Up Schema.org Markup" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/HowToSetUpSchemaorgMarkup</Path>
    <Trashed>false</Trashed>
    <ContentType>howToPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="How to Set Up Schema.org Markup" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="10ab55c3-0230-4a8f-973f-8e4de83f67c5">howToPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[Step-by-step guide to adding structured data to your Umbraco site using SchemeWeaver.]]></Value>
    </description>
    <estimatedCost>
      <Value><![CDATA[Free]]></Value>
    </estimatedCost>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "ed19883f-75ec-4d53-92c7-9aa39bc188bb",
    "mediaKey": "cebab390-d0ed-40ba-80cf-9fc1952c0983"
  }
]]]></Value>
    </heroImage>
    <howToSteps>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2a68c3d3-362c-4742-b0a2-5901dd5c6d21",
      "key": "330a60ab-528f-40a0-ad19-409736093e5d",
      "values": [
        {
          "alias": "stepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Install SchemeWeaver"
        },
        {
          "alias": "stepText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Install the SchemeWeaver NuGet package into your Umbraco project."
        }
      ]
    },
    {
      "contentTypeKey": "2a68c3d3-362c-4742-b0a2-5901dd5c6d21",
      "key": "4adc62b5-9c5a-4907-8678-020208172d60",
      "values": [
        {
          "alias": "stepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Configure Content Types"
        },
        {
          "alias": "stepText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Open the document type editor and navigate to the Schema.org tab."
        }
      ]
    },
    {
      "contentTypeKey": "2a68c3d3-362c-4742-b0a2-5901dd5c6d21",
      "key": "0de07fd5-81f5-4f58-ac69-a8c983bdb732",
      "values": [
        {
          "alias": "stepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map Properties"
        },
        {
          "alias": "stepText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Use auto-map to match your content properties to Schema.org properties."
        }
      ]
    },
    {
      "contentTypeKey": "2a68c3d3-362c-4742-b0a2-5901dd5c6d21",
      "key": "d498ab3a-9551-4549-ae47-40a0386360f3",
      "values": [
        {
          "alias": "stepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test Output"
        },
        {
          "alias": "stepText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Preview the JSON-LD output and validate with Google Rich Results Test."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "330a60ab-528f-40a0-ad19-409736093e5d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4adc62b5-9c5a-4907-8678-020208172d60",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0de07fd5-81f5-4f58-ac69-a8c983bdb732",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d498ab3a-9551-4549-ae47-40a0386360f3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "330a60ab-528f-40a0-ad19-409736093e5d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4adc62b5-9c5a-4907-8678-020208172d60",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0de07fd5-81f5-4f58-ac69-a8c983bdb732",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d498ab3a-9551-4549-ae47-40a0386360f3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </howToSteps>
    <howToTools>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3f34f27f-8af8-4d04-bbae-8f08e5f8292a",
      "key": "712059b6-b8e2-4a80-8271-5dbff68c934b",
      "values": [
        {
          "alias": "toolName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Browser Developer Tools"
        }
      ]
    },
    {
      "contentTypeKey": "3f34f27f-8af8-4d04-bbae-8f08e5f8292a",
      "key": "eb1fba06-e47f-46aa-af08-6c40ee5819f7",
      "values": [
        {
          "alias": "toolName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Google Rich Results Test"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "712059b6-b8e2-4a80-8271-5dbff68c934b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eb1fba06-e47f-46aa-af08-6c40ee5819f7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "712059b6-b8e2-4a80-8271-5dbff68c934b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "eb1fba06-e47f-46aa-af08-6c40ee5819f7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </howToTools>
    <title>
      <Value><![CDATA[How to Set Up Schema.org Markup]]></Value>
    </title>
    <totalTime>
      <Value><![CDATA[PT30M]]></Value>
    </totalTime>
  </Properties>
</Content>