<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dd2aaa7-3983-404f-993c-34fe51e4c068" Alias="Hyde Park Picture House Screening" Level="5">
  <Info>
    <Parent Key="bb3a7b76-9bf4-4046-b84b-5007d01a83ae">Music &amp; Theatre</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/MusicTheatre/HydeParkPictureHouseScreening</Path>
    <Trashed>false</Trashed>
    <ContentType>screeningEventPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Hyde Park Picture House Screening" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f6fa5d2e-13cf-4244-bc09-9960b9bb6cf8">screeningEventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Special screening of the 1945 classic Brief Encounter at the beautifully restored Hyde Park Picture House.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b6eb6bd3-2109-44f8-955b-df0bcf5182da",
    "mediaKey": "19b1a87c-2d67-48fb-a8da-3753282d5973"
  }
]]]></Value>
    </heroImage>
    <locationName>
      <Value><![CDATA[Hyde Park Picture House, Leeds]]></Value>
    </locationName>
    <startDate>
      <Value><![CDATA[2026-09-05T20:00:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Classic Film Night: Brief Encounter]]></Value>
    </title>
    <workPresented>
      <Value><![CDATA[Brief Encounter (1945)]]></Value>
    </workPresented>
  </Properties>
</Content>