<?xml version="1.0" encoding="utf-8"?>
<Content Key="1df58e89-dc83-46b6-98fe-c76ba2a7ec8f" Alias="Ibuprofen 400mg" Level="4">
  <Info>
    <Parent Key="12c0c645-2982-4f71-8718-a85e95f3e8a7">Healthcare</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare/Ibuprofen400mg</Path>
    <Trashed>false</Trashed>
    <ContentType>drugPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Ibuprofen 400mg" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c3e5af4a-4bde-42a7-9ee8-b242c433da82">drugPage</Template>
  </Info>
  <Properties>
    <activeIngredient>
      <Value><![CDATA[Ibuprofen]]></Value>
    </activeIngredient>
    <administrationRoute>
      <Value><![CDATA[Oral]]></Value>
    </administrationRoute>
    <description>
      <Value><![CDATA[Non-steroidal anti-inflammatory drug used for pain relief, fever reduction, and reducing inflammation.]]></Value>
    </description>
    <dosageForm>
      <Value><![CDATA[Tablet]]></Value>
    </dosageForm>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "3dc98984-89cd-4a58-b3d5-24e08c70a20f",
    "mediaKey": "a4794d15-6285-4fa1-8d5a-be47610d84c5"
  }
]]]></Value>
    </heroImage>
    <prescriptionStatus>
      <Value><![CDATA[Over the counter]]></Value>
    </prescriptionStatus>
    <title>
      <Value><![CDATA[Ibuprofen 400mg]]></Value>
    </title>
  </Properties>
</Content>