<?xml version="1.0" encoding="utf-8"?>
<Content Key="60b5bf50-36a7-42ee-8921-100283e3bf57" Alias="Introduction to Structured Data" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/IntroductionToStructuredData</Path>
    <Trashed>false</Trashed>
    <ContentType>videoPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Introduction to Structured Data" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9bd6d5cf-f53b-41bf-9b7f-0c2b411b6d04">videoPage</Template>
  </Info>
  <Properties>
    <contentUrl>
      <Value><![CDATA[https://example.com/videos/intro-structured-data.mp4]]></Value>
    </contentUrl>
    <description>
      <Value><![CDATA[A beginner-friendly video explaining structured data and how Schema.org helps search engines.]]></Value>
    </description>
    <duration>
      <Value><![CDATA[PT12M30S]]></Value>
    </duration>
    <embedUrl>
      <Value><![CDATA[https://www.youtube.com/embed/dQw4w9WgXcQ]]></Value>
    </embedUrl>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "50861c45-d77d-4ee7-9da3-0844bf581bdb",
    "mediaKey": "8e72885e-45f1-4ff7-8292-56a92693a1f0"
  }
]]]></Value>
    </heroImage>
    <thumbnailUrl>
      <Value><![CDATA[https://example.com/thumbnails/intro-structured-data.jpg]]></Value>
    </thumbnailUrl>
    <title>
      <Value><![CDATA[Introduction to Structured Data]]></Value>
    </title>
    <uploadDate>
      <Value><![CDATA[2026-04-02T16:15:37]]></Value>
    </uploadDate>
  </Properties>
</Content>