<?xml version="1.0" encoding="utf-8"?>
<Content Key="b429324c-0410-4cee-bbeb-b90c6b7bdbce" Alias="Jazz Night at Leeds" Level="5">
  <Info>
    <Parent Key="bb3a7b76-9bf4-4046-b84b-5007d01a83ae">Music &amp; Theatre</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/MusicTheatre/JazzNightAtLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>musicEventPage</ContentType>
    <CreateDate>2026-04-16T15:15:27</CreateDate>
    <NodeName Default="Jazz Night at Leeds" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f383d25a-b978-4179-9b79-36100ead1b30">musicEventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[An evening of live jazz featuring local and international artists at the Howard Assembly Room.]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[2026-06-15T23:00:00]]></Value>
    </endDate>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "5eccd9a9-eef9-4258-aec5-f39eb786070f",
    "mediaKey": "6a2d1cf1-a124-4206-8a26-6d0133f8096e"
  }
]]]></Value>
    </heroImage>
    <locationAddress>
      <Value><![CDATA[46 New Briggate, Leeds LS1 6NU]]></Value>
    </locationAddress>
    <locationName>
      <Value><![CDATA[Howard Assembly Room]]></Value>
    </locationName>
    <performer>
      <Value><![CDATA[The Leeds Jazz Quartet]]></Value>
    </performer>
    <startDate>
      <Value><![CDATA[2026-06-15T19:30:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Jazz Night at Leeds]]></Value>
    </title>
  </Properties>
</Content>