<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa034877-f913-4673-b7ea-aad2e3bda1b9" Alias="JCT600 Leeds" Level="4">
  <Info>
    <Parent Key="69557712-6af7-43c3-b277-789d711ff550">Automotive</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Automotive/JCT600Leeds</Path>
    <Trashed>false</Trashed>
    <ContentType>autoDealerPage</ContentType>
    <CreateDate>2026-04-16T15:15:34</CreateDate>
    <NodeName Default="JCT600 Leeds" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f3a002c0-a507-4155-b969-7c992ee0f21a">autoDealerPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Family-owned motor group established in Bradford in 1946, offering new and used vehicles from leading brands.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "e05f3afc-ce9d-452c-bf63-beb2b67a3254",
    "mediaKey": "83e2bfac-e9c8-4c8e-ae7f-709ce6e6b718"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Stonebridge Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 389 0600]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[JCT600 Leeds]]></Value>
    </title>
  </Properties>
</Content>