<?xml version="1.0" encoding="utf-8"?>
<Content Key="cce75442-a331-4d70-bf15-16cf2e87cb42" Alias="Kirkstall Student Accommodation" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/KirkstallStudentAccommodation</Path>
    <Trashed>false</Trashed>
    <ContentType>accommodationPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Kirkstall Student Accommodation" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e3bd07e-c9d0-4603-ae24-d6e35d3a59e2">accommodationPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Purpose-built student accommodation with en-suite rooms, shared kitchens, study spaces, and on-site laundry.]]></Value>
    </description>
    <floorSize>
      <Value><![CDATA[18 sqm]]></Value>
    </floorSize>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "abf84b31-af82-4383-ae30-43533c8f55b2",
    "mediaKey": "6254f909-2406-410c-90f0-cf011ac6ad42"
  }
]]]></Value>
    </heroImage>
    <numberOfRooms>
      <Value><![CDATA[150]]></Value>
    </numberOfRooms>
    <petsAllowed>
      <Value><![CDATA[No]]></Value>
    </petsAllowed>
    <postalCode>
      <Value><![CDATA[LS5 3EH]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Abbey Road]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[Kirkstall Student Accommodation]]></Value>
    </title>
    <tourBookingPage>
      <Value><![CDATA[https://kirkstall-halls.example.com/book-tour]]></Value>
    </tourBookingPage>
  </Properties>
</Content>