<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7c8d516-8257-4618-bc38-f6016f419399" Alias="Kwik Fit Leeds Central" Level="4">
  <Info>
    <Parent Key="69557712-6af7-43c3-b277-789d711ff550">Automotive</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Automotive/KwikFitLeedsCentral</Path>
    <Trashed>false</Trashed>
    <ContentType>autoRepairPage</ContentType>
    <CreateDate>2026-04-16T15:15:34</CreateDate>
    <NodeName Default="Kwik Fit Leeds Central" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="39fa5bd9-6c24-49b4-8dfd-3a98dcc17594">autoRepairPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Full-service car repair and MOT testing centre in Leeds, offering tyres, brakes, exhausts, and servicing.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "9a3aa93c-90e3-4282-9561-e0bf48792bd6",
    "mediaKey": "a8700b27-461a-4454-9642-961568578ddd"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[45 Wellington Road]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 242 8899]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Kwik Fit Leeds Central]]></Value>
    </title>
  </Properties>
</Content>