<?xml version="1.0" encoding="utf-8"?>
<Content Key="45394243-ac24-4581-ae06-2c1ca9a4f9fd" Alias="Leeds Consulting Group" Level="4">
  <Info>
    <Parent Key="fe77b413-a393-40ff-8061-4a07e484017c">Services</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Services/LeedsConsultingGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>professionalServicePage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Leeds Consulting Group" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c020207f-fef8-4d47-96bc-984d6ff5be9c">professionalServicePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Management consultancy firm providing strategic advisory services to businesses across the North of England.]]></Value>
    </description>
    <email>
      <Value><![CDATA[enquiries@leedsconsulting.example.com]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "05a58069-ea7f-4446-85c7-b1fba8c1dc2b",
    "mediaKey": "bacd1413-b42c-4812-9a57-7c603edab3ae"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 5JL]]></Value>
    </postalCode>
    <priceRange>
      <Value><![CDATA[$$$]]></Value>
    </priceRange>
    <streetAddress>
      <Value><![CDATA[45 Park Row]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 6789]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds Consulting Group]]></Value>
    </title>
  </Properties>
</Content>