<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab9cf69e-cfbf-490b-981f-0076fdab36d0" Alias="Leeds City Council" Level="4">
  <Info>
    <Parent Key="c5ac8b70-8983-4ca3-9717-11074729edbc">Organisations</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/LeedsCityCouncil</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentOrgPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Leeds City Council" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e2f0509c-e9b8-4eec-9edb-eef0bad7e7e6">governmentOrgPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <areaServed>
      <Value><![CDATA[Leeds, West Yorkshire]]></Value>
    </areaServed>
    <description>
      <Value><![CDATA[The metropolitan borough council governing the city of Leeds in West Yorkshire, England.]]></Value>
    </description>
    <email>
      <Value><![CDATA[contact@leeds.gov.example.com]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "863cc0bf-d423-4d79-8b18-fd0fc9648d77",
    "mediaKey": "1faa134c-f772-499b-9b17-5baf49bb6ae1"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 1UR]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Civic Hall, Calverley Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 222 4444]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds City Council]]></Value>
    </title>
  </Properties>
</Content>