<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b075315-59aa-4b84-8e6b-f72ea1b088b3" Alias="Leeds Grammar School" Level="4">
  <Info>
    <Parent Key="a817e0d7-e643-48a5-9bb2-476a3d9dd6ff">Education</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Education/LeedsGrammarSchool</Path>
    <Trashed>false</Trashed>
    <ContentType>schoolPage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Leeds Grammar School" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d437498-2172-4d12-9e41-f90730cacc54">schoolPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[One of the oldest schools in the north of England, providing outstanding education for boys and girls aged 3 to 18.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "cca24247-7234-422d-8d0b-37572f381bff",
    "mediaKey": "e1c3ef6c-59e7-4a97-b948-59cf71dc39c5"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Alwoodley Gates, Harrogate Road]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 229 1552]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds Grammar School]]></Value>
    </title>
  </Properties>
</Content>