<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7e58e30-ecac-47af-bf05-f2aacd6524b0" Alias="Leeds Central Library" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/LeedsCentralLibrary</Path>
    <Trashed>false</Trashed>
    <ContentType>libraryPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Leeds Central Library" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d30493be-cff0-4885-a7a7-f5c6d5074b8d">libraryPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Grade II listed library in the heart of Leeds offering over 300,000 volumes, public computers, and community events.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "fb2ae887-f2af-41e6-84b6-1985bae6165a",
    "mediaKey": "57415ac8-af42-47ff-8112-b82cd67714d4"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 3AB]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Calverley Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 247 8911]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds Central Library]]></Value>
    </title>
  </Properties>
</Content>