<?xml version="1.0" encoding="utf-8"?>
<Content Key="448e995b-f9a9-4c64-a985-5beb597b1a6d" Alias="Leeds Skyline" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/LeedsSkyline</Path>
    <Trashed>false</Trashed>
    <ContentType>photographPage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Leeds Skyline" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abac4e97-ccd9-4a0d-8935-822c361c1ead">photographPage</Template>
  </Info>
  <Properties>
    <contentUrl>
      <Value><![CDATA[https://example.com/photos/leeds-skyline-2025.jpg]]></Value>
    </contentUrl>
    <creator>
      <Value><![CDATA[Oliver Picton]]></Value>
    </creator>
    <dateCreated>
      <Value><![CDATA[2025-08-22T00:00:00]]></Value>
    </dateCreated>
    <description>
      <Value><![CDATA[A stunning panoramic photograph of the Leeds city centre skyline at sunset, taken from Roundhay Park.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "d8fa309a-242c-413b-96ef-8bde902ef396",
    "mediaKey": "def78aba-e35f-458a-9cc7-78991c4ea5c9"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Leeds Skyline]]></Value>
    </title>
  </Properties>
</Content>