<?xml version="1.0" encoding="utf-8"?>
<Content Key="061010e1-8c7f-4813-9e43-af09783c7d03" Alias="Leeds General Infirmary" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/LeedsGeneralInfirmary</Path>
    <Trashed>false</Trashed>
    <ContentType>hospitalPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Leeds General Infirmary" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf89f035-67db-4671-85d9-e51c762d853d">hospitalPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[One of the largest teaching hospitals in Europe, providing specialist care and emergency services.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "904d1bd3-f90b-4e0c-ad75-28cac843613f",
    "mediaKey": "dccc6a00-8c12-4c61-848f-d542cb407ca6"
  }
]]]></Value>
    </heroImage>
    <medicalSpecialty>
      <Value><![CDATA[Cardiology, Oncology, Neurology, Emergency Medicine]]></Value>
    </medicalSpecialty>
    <streetAddress>
      <Value><![CDATA[Great George Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 243 2799]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds General Infirmary]]></Value>
    </title>
  </Properties>
</Content>