<?xml version="1.0" encoding="utf-8"?>
<Content Key="4267dcff-9900-4e03-99ef-244c95b3cc14" Alias="Leeds PathLab Diagnostics" Level="4">
  <Info>
    <Parent Key="12c0c645-2982-4f71-8718-a85e95f3e8a7">Healthcare</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare/LeedsPathLabDiagnostics</Path>
    <Trashed>false</Trashed>
    <ContentType>diagnosticLabPage</ContentType>
    <CreateDate>2026-04-16T15:15:34</CreateDate>
    <NodeName Default="Leeds PathLab Diagnostics" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75843f54-0221-48bf-9a76-266398b4d2b2">diagnosticLabPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[NHS-accredited diagnostic laboratory providing blood tests, pathology services, and rapid COVID testing.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "2001099a-7ae5-44e2-abf5-0a8aa3d16165",
    "mediaKey": "2e84905d-27f9-412d-81e5-59abe7e2c9bd"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS9 7TF]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[St James's University Hospital, Beckett Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 392 5500]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds PathLab Diagnostics]]></Value>
    </title>
  </Properties>
</Content>