<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd5f5114-e14c-4cc2-b3b7-139857f9b1a4" Alias="Limited Edition Watch" Level="5">
  <Info>
    <Parent Key="4f5d226d-ef27-4971-8560-10d1aa34241e">Electronics</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Electronics/LimitedEditionWatch</Path>
    <Trashed>false</Trashed>
    <ContentType>individualProductPage</ContentType>
    <CreateDate>2026-04-16T15:15:27</CreateDate>
    <NodeName Default="Limited Edition Watch" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="63c0b5e6-b78b-4e54-bfe6-406ee03c9c7d">individualProductPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Each watch in this limited run is individually numbered and comes with a certificate of authenticity. Swiss movement, sapphire crystal glass, and genuine leather strap.</p>]]></Value>
    </bodyText>
    <color>
      <Value><![CDATA[Rose Gold]]></Value>
    </color>
    <description>
      <Value><![CDATA[A hand-crafted timepiece from our exclusive Leeds collection, number 42 of 100.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b23248cb-ad22-42e8-b103-ef24d90eb65e",
    "mediaKey": "e05be249-ad4b-4854-9fb5-0ead1b974955"
  }
]]]></Value>
    </heroImage>
    <serialNumber>
      <Value><![CDATA[LDS-2024-042]]></Value>
    </serialNumber>
    <sku>
      <Value><![CDATA[WATCH-LE-042]]></Value>
    </sku>
    <title>
      <Value><![CDATA[Limited Edition Watch]]></Value>
    </title>
    <weight>
      <Value><![CDATA[85g]]></Value>
    </weight>
  </Properties>
</Content>