<?xml version="1.0" encoding="utf-8"?>
<Content Key="b70aad07-59e5-44da-a1fa-d1d0610b1a72" Alias="Marks &amp; Spencer Leeds" Level="4">
  <Info>
    <Parent Key="426ee81d-5bd9-4c17-b2c4-ce993c20f9fb">Shops</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Shops/MarksSpencerLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>groceryStorePage</ContentType>
    <CreateDate>2026-04-16T15:15:31</CreateDate>
    <NodeName Default="Marks &amp; Spencer Leeds" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="600a7014-eec4-4b65-bc52-89233e65188e">groceryStorePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Quality food hall and clothing on Briggate, a Leeds high-street staple since the company was founded here in 1884.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "baf4da55-b7a8-44fe-91ae-c31b86f2d005",
    "mediaKey": "5a58dfda-6bc9-4f76-860a-24a7cd789b0a"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 6BR]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[72 Briggate]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 242 3456]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Marks & Spencer Leeds]]></Value>
    </title>
  </Properties>
</Content>