<?xml version="1.0" encoding="utf-8"?>
<Content Key="62b2a9bf-b5bf-483b-a27c-487b27149eff" Alias="Mint Warehouse" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/MintWarehouse</Path>
    <Trashed>false</Trashed>
    <ContentType>nightClubPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Mint Warehouse" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ab46179f-4c12-4c92-9e49-1534fee7aee6">nightClubPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[One of Leeds' premier nightclub venues hosting electronic music events and club nights.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8a3469b9-8e1e-4e1f-b29b-de992b10ce3a",
    "mediaKey": "94ae94f6-8201-4431-9428-59efcd648345"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 4AW]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[2 Whitehall Road]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 244 0900]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Mint Warehouse]]></Value>
    </title>
  </Properties>
</Content>