<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec882ee3-6b56-4f04-8411-df1c09cbd7fa" Alias="Moortown Golf Club" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/MoortownGolfClub</Path>
    <Trashed>false</Trashed>
    <ContentType>golfCoursePage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Moortown Golf Club" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="496bf1ac-6e63-41b6-9c3b-ab1aa2de94ae">golfCoursePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Historic golf club in North Leeds, venue for the first Ryder Cup on British soil in 1929.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c430e660-7e65-4d56-a258-75a45179c208",
    "mediaKey": "7c4066e0-0926-40c1-a5d6-63e78d5454a7"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS17 7DB]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Harrogate Road, Alwoodley]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 268 6521]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Moortown Golf Club]]></Value>
    </title>
  </Properties>
</Content>