<?xml version="1.0" encoding="utf-8"?>
<Content Key="45fc6452-b060-47c9-b350-8e7a12289c69" Alias="Northern Monk Brewery" Level="4">
  <Info>
    <Parent Key="f163d617-d727-4ffe-93e0-e5c8407d9c65">Dining</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Dining/NorthernMonkBrewery</Path>
    <Trashed>false</Trashed>
    <ContentType>breweryPage</ContentType>
    <CreateDate>2026-04-16T15:15:32</CreateDate>
    <NodeName Default="Northern Monk Brewery" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c8b0abf-0ca2-4b11-a535-78fa5b7072eb">breweryPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Independent craft brewery in Holbeck, Leeds, known for their Faith pale ale and rotating seasonal brews.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c1939055-4c4d-45bc-a897-e4945cac8f00",
    "mediaKey": "e10bec7d-671c-4772-952e-28ab2950ef85"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[The Old Flax Store, Marshall Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 243 6430]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Northern Monk Brewery]]></Value>
    </title>
  </Properties>
</Content>