<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5ac8b70-8983-4ca3-9717-11074729edbc" Alias="Organisations" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations</Path>
    <Trashed>false</Trashed>
    <ContentType>organisationListing</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Organisations" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d309a697-e22e-4925-8e49-ac27f1cd1b0b">organisationListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Notable organisations and companies.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Organisations]]></Value>
    </title>
  </Properties>
</Content>