<?xml version="1.0" encoding="utf-8"?>
<Content Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3" Alias="Places" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places</Path>
    <Trashed>false</Trashed>
    <ContentType>placesListing</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Places" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c927139-3f62-4892-b342-fde38b1b908c">placesListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Interesting places and venues.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Places]]></Value>
    </title>
  </Properties>
</Content>