<?xml version="1.0" encoding="utf-8"?>
<Content Key="40275a3b-d93e-4e1d-af53-cce11de80412" Alias="Queens Hotel Penthouse Suite" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/QueensHotelPenthouseSuite</Path>
    <Trashed>false</Trashed>
    <ContentType>suitePage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Queens Hotel Penthouse Suite" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfd137d7-c185-42f4-9504-2c9cc768c962">suitePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <bedType>
      <Value><![CDATA[King]]></Value>
    </bedType>
    <description>
      <Value><![CDATA[Luxury penthouse suite overlooking City Square with king-size bed, marble bathroom, and private balcony.]]></Value>
    </description>
    <floorSize>
      <Value><![CDATA[85 sqm]]></Value>
    </floorSize>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "415a673a-95cf-4371-8076-5325db5cbfe7",
    "mediaKey": "fef479b9-7ec8-4649-88f0-b4d2c224c542"
  }
]]]></Value>
    </heroImage>
    <numberOfRooms>
      <Value><![CDATA[3]]></Value>
    </numberOfRooms>
    <occupancy>
      <Value><![CDATA[2 adults]]></Value>
    </occupancy>
    <postalCode>
      <Value><![CDATA[LS1 1PJ]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[City Square]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[Queens Hotel Penthouse Suite]]></Value>
    </title>
  </Properties>
</Content>