<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc894ab1-3e84-4cc7-bbba-faf8b0741be2" Alias="SchemeWeaver Source" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/SchemeWeaverSource</Path>
    <Trashed>false</Trashed>
    <ContentType>sourceCodePage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="SchemeWeaver Source" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f96df8cb-dca0-4656-9d81-f63b66ce72c5">sourceCodePage</Template>
  </Info>
  <Properties>
    <codeRepository>
      <Value><![CDATA[https://github.com/EnjoyDigital/Umbraco.Community.SchemeWeaver/Umbraco.Community.SchemeWeaver]]></Value>
    </codeRepository>
    <description>
      <Value><![CDATA[Open-source repository for the Umbraco SchemeWeaver package — contributions welcome.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8fc42cb6-97d2-48ae-a729-ed1725d8ec52",
    "mediaKey": "b283192c-0e74-41ad-96ba-9095ad300465"
  }
]]]></Value>
    </heroImage>
    <programmingLanguage>
      <Value><![CDATA[C#, TypeScript]]></Value>
    </programmingLanguage>
    <runtimePlatform>
      <Value><![CDATA[.NET 10]]></Value>
    </runtimePlatform>
    <title>
      <Value><![CDATA[SchemeWeaver Source]]></Value>
    </title>
  </Properties>
</Content>