<?xml version="1.0" encoding="utf-8"?>
<Content Key="185dbc3b-1d2c-4fbf-8e80-9d09c39968d4" Alias="TechCorp plc" Level="4">
  <Info>
    <Parent Key="c5ac8b70-8983-4ca3-9717-11074729edbc">Organisations</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/TechCorpPlc</Path>
    <Trashed>false</Trashed>
    <ContentType>corporationPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="TechCorp plc" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01fb36f5-fa22-4ba5-8661-0b87221546d9">corporationPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[A FTSE-listed technology company headquartered in Leeds, specialising in enterprise software solutions.]]></Value>
    </description>
    <foundingDate>
      <Value><![CDATA[2008]]></Value>
    </foundingDate>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "dd4e80ca-86da-4bbb-bd6e-bd275f7fe663",
    "mediaKey": "ae86b25d-8ee5-4a95-887c-d4c87294343c"
  }
]]]></Value>
    </heroImage>
    <legalName>
      <Value><![CDATA[TechCorp Public Limited Company]]></Value>
    </legalName>
    <numberOfEmployees>
      <Value><![CDATA[1200]]></Value>
    </numberOfEmployees>
    <tickerSymbol>
      <Value><![CDATA[TCH]]></Value>
    </tickerSymbol>
    <title>
      <Value><![CDATA[TechCorp plc]]></Value>
    </title>
  </Properties>
</Content>