<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee" Alias="Test Variant Article" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestVariantArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>variantArticle</ContentType>
    <CreateDate>2026-04-16T15:15:38</CreateDate>
    <NodeName Default="Test Variant Article">
      <Name Culture="de-DE">Testvarianten-Artikel</Name>
      <Name Culture="en-US">Test Variant Article</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="b5b34a6f-86db-41f6-b99e-5f16c3a7c603">variantArticle</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="de-DE"><![CDATA[<p>Deutscher Textkörper für Variantentests.</p>]]></Value>
      <Value Culture="en-US"><![CDATA[<p>English body text for variant testing.</p>]]></Value>
    </bodyText>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value Culture="de-DE"><![CDATA[Sieben Dinge über SchemeWeaver]]></Value>
      <Value Culture="en-US"><![CDATA[Seven things about SchemeWeaver]]></Value>
    </title>
  </Properties>
</Content>