<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4ded31f-8148-447e-a561-bea749e92137" Alias="UK Census 2021" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/UKCensus2021</Path>
    <Trashed>false</Trashed>
    <ContentType>datasetPage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="UK Census 2021" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa80ee6c-60bf-42ac-9785-daa69890d124">datasetPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Official census data for England and Wales, including population demographics, housing, and employment statistics.]]></Value>
    </description>
    <distribution>
      <Value><![CDATA[https://www.ons.gov.uk/census/2021census]]></Value>
    </distribution>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "04e5fc27-4c89-49eb-aabb-bc3f568a434c",
    "mediaKey": "a852183a-60d6-4efb-a3fa-cdf0901ded6d"
  }
]]]></Value>
    </heroImage>
    <license>
      <Value><![CDATA[Open Government Licence v3.0]]></Value>
    </license>
    <title>
      <Value><![CDATA[UK Census 2021]]></Value>
    </title>
  </Properties>
</Content>