<?xml version="1.0" encoding="utf-8"?>
<Content Key="094fd693-47f5-4793-b651-c9e1d1e2b00c" Alias="Umbraco UK Festival 2026" Level="5">
  <Info>
    <Parent Key="a8e29d44-bacf-4287-8eaa-2ac437493c53">Conferences</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/Conferences/UmbracoUKFestival2026</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-04-16T15:15:26</CreateDate>
    <NodeName Default="Umbraco UK Festival 2026">
      <Name Culture="de-DE">Technologiekonferenz 2025</Name>
      <Name Culture="en-US">Umbraco UK Festival 2026</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8512eb9a-0c91-43dc-b446-21ab1f99933c">eventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="de-DE"><![CDATA[Die führende Technologiekonferenz für Webentwickler in Europa]]></Value>
      <Value Culture="en-US"><![CDATA[The premier Umbraco community event in the UK]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[2026-06-17T16:15:26]]></Value>
    </endDate>
    <eventImage>
      <Value><![CDATA[]]></Value>
    </eventImage>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "67af4cfc-fc5c-48e9-a260-6fd9f363d3f0",
    "mediaKey": "f613016f-0d5f-43a2-b934-cea79493d26c"
  }
]]]></Value>
    </heroImage>
    <locationAddress>
      <Value><![CDATA[155 Bishopsgate, London EC2M 3YD]]></Value>
    </locationAddress>
    <locationName>
      <Value><![CDATA[etc.venues]]></Value>
    </locationName>
    <organiserName>
      <Value><![CDATA[Umbraco Community]]></Value>
    </organiserName>
    <startDate>
      <Value><![CDATA[2026-06-16T16:15:26]]></Value>
    </startDate>
    <ticketPrice>
      <Value><![CDATA[199.00]]></Value>
    </ticketPrice>
    <ticketUrl>
      <Value><![CDATA[https://umbracofestival.co.uk/tickets]]></Value>
    </ticketUrl>
    <title>
      <Value Culture="de-DE"><![CDATA[Technologiekonferenz 2025]]></Value>
      <Value Culture="en-US"><![CDATA[Umbraco UK Festival 2026]]></Value>
    </title>
  </Properties>
</Content>