<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed07dae8-31a3-4b13-9670-8ff0bdb028df" Alias="Umbraco Certified Developer 2026" Level="4">
  <Info>
    <Parent Key="a817e0d7-e643-48a5-9bb2-476a3d9dd6ff">Education</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Education/UmbracoCertifiedDeveloper2026</Path>
    <Trashed>false</Trashed>
    <ContentType>courseInstancePage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Umbraco Certified Developer 2026" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="425b9035-cc21-4cae-bb67-7412526843f5">courseInstancePage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Official Umbraco certification course covering content modelling, custom extensions, and deployment best practices.]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[2026-09-05T17:00:00]]></Value>
    </endDate>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "18a55c44-ffff-41cf-bdb9-ed8e819c4503",
    "mediaKey": "0e99ce1d-4fff-403f-83bc-9293541dcddf"
  }
]]]></Value>
    </heroImage>
    <instructor>
      <Value><![CDATA[Oliver Picton]]></Value>
    </instructor>
    <locationName>
      <Value><![CDATA[Platform, New Station Street, Leeds]]></Value>
    </locationName>
    <startDate>
      <Value><![CDATA[2026-09-01T09:00:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Umbraco Certified Developer 2026]]></Value>
    </title>
  </Properties>
</Content>