<?xml version="1.0" encoding="utf-8"?>
<Content Key="6920b006-aee2-4990-9b5e-c5024e8721f2" Alias="Waterfront Apartment" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/WaterfrontApartment</Path>
    <Trashed>false</Trashed>
    <ContentType>apartmentPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Waterfront Apartment" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ffb6b31b-0786-4061-82c2-ed79cf4e638a">apartmentPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Modern two-bedroom apartment overlooking the Leeds-Liverpool canal with open-plan living.]]></Value>
    </description>
    <floorSize>
      <Value><![CDATA[75 sqm]]></Value>
    </floorSize>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b732803a-5a91-43af-8bee-96e40c7528f8",
    "mediaKey": "a82a621d-a34c-4083-be40-ae7a55b9aced"
  }
]]]></Value>
    </heroImage>
    <numberOfRooms>
      <Value><![CDATA[4]]></Value>
    </numberOfRooms>
    <petsAllowed>
      <Value><![CDATA[No]]></Value>
    </petsAllowed>
    <postalCode>
      <Value><![CDATA[LS1 4BR]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Granary Wharf]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[Waterfront Apartment]]></Value>
    </title>
  </Properties>
</Content>