<?xml version="1.0" encoding="utf-8"?>
<Content Key="92f8c0db-e791-4f46-a7bf-453c41e1c380" Alias="Web Development Masterclass" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/WebDevelopmentMasterclass</Path>
    <Trashed>false</Trashed>
    <ContentType>coursePage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Web Development Masterclass" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7aa0c610-3d42-4389-936c-90bc151a1091">coursePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This masterclass covers everything from setting up your first Umbraco project to building custom backoffice extensions and deploying to production.</p>]]></Value>
    </bodyText>
    <courseCode>
      <Value><![CDATA[WDM-2026]]></Value>
    </courseCode>
    <currency>
      <Value><![CDATA[GBP]]></Value>
    </currency>
    <description>
      <Value><![CDATA[Learn modern web development with Umbraco CMS and .NET in this comprehensive course.]]></Value>
    </description>
    <duration>
      <Value><![CDATA[PT40H]]></Value>
    </duration>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b88dc483-d6a4-4f0e-b40f-8512d3d5967c",
    "mediaKey": "a557b55b-3752-417a-932a-51be07e7ac2f"
  }
]]]></Value>
    </heroImage>
    <price>
      <Value><![CDATA[499.00]]></Value>
    </price>
    <providerName>
      <Value><![CDATA[Enjoy Digital]]></Value>
    </providerName>
    <startDate>
      <Value><![CDATA[2026-05-16T16:15:37]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Web Development Masterclass]]></Value>
    </title>
  </Properties>
</Content>