<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a98481b-304a-436e-b490-3a085085dd20" Alias="Whitehall Legal Partners" Level="4">
  <Info>
    <Parent Key="13d44915-9df7-4612-be39-818d5b19379f">Legal</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Legal/WhitehallLegalPartners</Path>
    <Trashed>false</Trashed>
    <ContentType>legalServicePage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Whitehall Legal Partners" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cdc6d596-e203-48f8-aa49-8449bacb7aab">legalServicePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Full-service law firm specialising in commercial, employment, and property law.]]></Value>
    </description>
    <email>
      <Value><![CDATA[info@whitehall-legal.example.com]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "9fda1122-3bf0-487b-993f-19104796a868",
    "mediaKey": "3ed0c701-bcb0-4ebd-b916-96da5ccc964d"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 4AW]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[12 Whitehall Road]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 246 0101]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Whitehall Legal Partners]]></Value>
    </title>
  </Properties>
</Content>