<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab6488f6-bd27-4b9a-84be-25c38be3a3a8" Alias="Wicked at Leeds Grand" Level="5">
  <Info>
    <Parent Key="bb3a7b76-9bf4-4046-b84b-5007d01a83ae">Music &amp; Theatre</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/MusicTheatre/WickedAtLeedsGrand</Path>
    <Trashed>false</Trashed>
    <ContentType>theaterEventPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Wicked at Leeds Grand" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a95b2beb-dce1-48c6-8866-a5e73eba0d23">theaterEventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[The smash-hit musical Wicked arrives at Leeds Grand Theatre for a limited summer run — discover the untold story of the witches of Oz.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "0e7a3ad6-eed3-42eb-9cf0-7cd81f052692",
    "mediaKey": "b0e0e1c9-1480-4746-9393-103f0d60590d"
  }
]]]></Value>
    </heroImage>
    <locationName>
      <Value><![CDATA[Leeds Grand Theatre]]></Value>
    </locationName>
    <performer>
      <Value><![CDATA[UK Touring Cast]]></Value>
    </performer>
    <startDate>
      <Value><![CDATA[2026-08-10T19:30:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Wicked at Leeds Grand]]></Value>
    </title>
  </Properties>
</Content>