<?xml version="1.0" encoding="utf-8"?>
<Content Key="e67804e3-98a4-4f3c-a474-54f9abb42778" Alias="Wicked Musical Tickets" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/WickedMusicalTickets</Path>
    <Trashed>false</Trashed>
    <ContentType>eventReservationPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Wicked Musical Tickets" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c57c8992-7afd-4d01-bde0-1797dc7ec73a">eventReservationPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Two stalls tickets for Wicked at Leeds Grand Theatre, Saturday evening performance.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "44d9e4bc-4e7c-4524-9f5f-6a63d96238da",
    "mediaKey": "e0b77c35-c027-46e1-8347-ea0d05c2d9a5"
  }
]]]></Value>
    </heroImage>
    <reservationFor>
      <Value><![CDATA[Wicked at Leeds Grand Theatre]]></Value>
    </reservationFor>
    <reservationId>
      <Value><![CDATA[LGT-2026-088]]></Value>
    </reservationId>
    <title>
      <Value><![CDATA[Wicked Musical Tickets]]></Value>
    </title>
  </Properties>
</Content>