<?xml version="1.0" encoding="utf-8"?>
<Content Key="43b8d19a-4af0-4ac6-9d4e-cb37348921d2" Alias="Xscape Yorkshire Ski Slope" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/XscapeYorkshireSkiSlope</Path>
    <Trashed>false</Trashed>
    <ContentType>skiResortPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Xscape Yorkshire Ski Slope" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="77e69e33-3e88-48fa-84b4-276765b46029">skiResortPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Castleford]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Indoor real snow ski slope near Leeds offering skiing, snowboarding, and lessons for all abilities.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "e045da7b-3b1b-4e0d-be1d-4ecf2febb8a5",
    "mediaKey": "cdfb7c51-f946-43ec-9a83-3f9de33c85cb"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[WF10 4TA]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Colorado Way, Glasshoughton]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 1onal 832 700]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Xscape Yorkshire Ski Slope]]></Value>
    </title>
  </Properties>
</Content>