<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a58b757-db62-4282-ab54-ff619cd59c68" Alias="Yorkshire Food Fest" Level="5">
  <Info>
    <Parent Key="84d2bf35-965a-441e-8bf5-6b5ea52d1033">Food &amp; Festivals</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/FoodFestivals/YorkshireFoodFest</Path>
    <Trashed>false</Trashed>
    <ContentType>foodEventPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Yorkshire Food Fest" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="06f7a419-083f-47eb-b265-f00b47544d15">foodEventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[A celebration of Yorkshire's finest produce, street food, and craft beverages in Roundhay Park.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "54685207-7c00-4f72-aa79-d10e578524ea",
    "mediaKey": "2953b748-3226-43bf-82b1-8bf88f0661fe"
  }
]]]></Value>
    </heroImage>
    <locationName>
      <Value><![CDATA[Roundhay Park, Leeds]]></Value>
    </locationName>
    <startDate>
      <Value><![CDATA[2026-07-12T10:00:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Yorkshire Food Fest]]></Value>
    </title>
  </Properties>
</Content>