<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c990183-7b24-4ea1-9ef4-fa82ce177d64" Alias="Yorkshire Wildlife Park" Level="4">
  <Info>
    <Parent Key="cee4fe69-3d37-48a8-b71d-1bbcb4492821">Entertainment</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Entertainment/YorkshireWildlifePark</Path>
    <Trashed>false</Trashed>
    <ContentType>zooPage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Yorkshire Wildlife Park" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="327a7a3e-74b9-427b-ad9a-424c331861b4">zooPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Doncaster]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Award-winning wildlife park home to over 400 animals including polar bears, lions, and lemurs, set across 150 acres.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4f2f51c1-dcf5-4504-8499-a69b717b39e1",
    "mediaKey": "03638f01-1cc7-4aae-9c0a-0accb147badb"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Warning Tongue Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 1302 535057]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Yorkshire Wildlife Park]]></Value>
    </title>
  </Properties>
</Content>