<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca0ba10d-8e53-45b8-98a5-61e6f706cd32" Alias="2024 Volkswagen Golf" Level="4">
  <Info>
    <Parent Key="69557712-6af7-43c3-b277-789d711ff550">Automotive</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Automotive/VolkswagenGolf</Path>
    <Trashed>false</Trashed>
    <ContentType>carPage</ContentType>
    <CreateDate>2026-04-16T15:15:34</CreateDate>
    <NodeName Default="2024 Volkswagen Golf" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="26de02a6-65a0-46df-b4dd-fba99d67826b">carPage</Template>
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Volkswagen]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Pure White]]></Value>
    </color>
    <description>
      <Value><![CDATA[Well-maintained Volkswagen Golf TSI with low mileage, one owner from new, full service history.]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Petrol]]></Value>
    </fuelType>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "fafdb905-2ba4-4a0c-8e86-46df31f5f25e",
    "mediaKey": "9c41db7f-bcd9-448c-9773-429b2b916685"
  }
]]]></Value>
    </heroImage>
    <mileageFromOdometer>
      <Value><![CDATA[15000 miles]]></Value>
    </mileageFromOdometer>
    <model>
      <Value><![CDATA[Golf]]></Value>
    </model>
    <numberOfDoors>
      <Value><![CDATA[5]]></Value>
    </numberOfDoors>
    <title>
      <Value><![CDATA[2024 Volkswagen Golf]]></Value>
    </title>
    <vehicleTransmission>
      <Value><![CDATA[Manual]]></Value>
    </vehicleTransmission>
  </Properties>
</Content>