<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8eb989e-de23-476b-b41d-61835f044411" Alias="3 Bed Semi-Detached, Roundhay" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/BedSemiDetachedRoundhay</Path>
    <Trashed>false</Trashed>
    <ContentType>realEstateListingPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="3 Bed Semi-Detached, Roundhay" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="42433d1b-f3d7-4806-87e3-69ced9040945">realEstateListingPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <datePosted>
      <Value><![CDATA[2026-02-20T00:00:00]]></Value>
    </datePosted>
    <description>
      <Value><![CDATA[Spacious three-bedroom semi-detached house with south-facing garden close to Roundhay Park.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "2c442ce2-3fd7-4ef8-83c2-e4c148dfc53c",
    "mediaKey": "75ccb6ae-82f4-4c33-a88d-e3595aa0ecc6"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS8 2PJ]]></Value>
    </postalCode>
    <price>
      <Value><![CDATA[325000]]></Value>
    </price>
    <priceCurrency>
      <Value><![CDATA[GBP]]></Value>
    </priceCurrency>
    <streetAddress>
      <Value><![CDATA[14 Oakwood Lane]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[3 Bed Semi-Detached, Roundhay]]></Value>
    </title>
  </Properties>
</Content>