<?xml version="1.0" encoding="utf-8"?>
<Content Key="a758e296-630c-4d1d-8c98-60e285ede9f8" Alias="About This Site" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/AboutThisSite</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-16T15:15:38</CreateDate>
    <NodeName Default="About This Site" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b0b9d577-19e6-4a0a-bbbc-2e1f7f5cced7">webPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[This site demonstrates how Umbraco content types can be mapped to Schema.org types to produce JSON-LD structured data automatically.]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[Information about the SchemeWeaver demo site and its structured data capabilities.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "01ac175d-6e76-4db5-9136-80cf6d282e96",
    "mediaKey": "88a213a2-52be-4ff3-9258-a69f97011d03"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[About This Site]]></Value>
    </title>
  </Properties>
</Content>