<?xml version="1.0" encoding="utf-8"?>
<Content Key="215ab8c6-f51d-41aa-be6a-09d78fa6095b" Alias="Acme Marketing Department" Level="5">
  <Info>
    <Parent Key="1e41e434-a920-41eb-abdd-df21cd90a84c">Acme Corporation</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/AcmeCorporation/AcmeMarketingDepartment</Path>
    <Trashed>false</Trashed>
    <ContentType>departmentPage</ContentType>
    <CreateDate>2026-04-16T15:15:38</CreateDate>
    <NodeName Default="Acme Marketing Department" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ea13b802-041d-4066-86bf-16775410524b">departmentPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[The marketing division of Acme Corporation.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Acme Marketing Department]]></Value>
    </title>
  </Properties>
</Content>