<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e41e434-a920-41eb-abdd-df21cd90a84c" Alias="Acme Corporation" Level="4">
  <Info>
    <Parent Key="c5ac8b70-8983-4ca3-9717-11074729edbc">Organisations</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/AcmeCorporation</Path>
    <Trashed>false</Trashed>
    <ContentType>organisationParent</ContentType>
    <CreateDate>2026-04-16T15:15:38</CreateDate>
    <NodeName Default="Acme Corporation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="18a824c6-13c0-4279-8deb-d67a105bb411">organisationParent</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[A multinational conglomerate headquartered in Leeds.]]></Value>
    </description>
    <email>
      <Value><![CDATA[info@acme-corp.example.com]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 1AA]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[100 Acme Way]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 496 0000]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Acme Corporation]]></Value>
    </title>
  </Properties>
</Content>