<?xml version="1.0" encoding="utf-8"?>
<Content Key="33a91bf6-8e0a-4b88-8d63-0836df467ada" Alias="Acme Leeds Office" Level="5">
  <Info>
    <Parent Key="1e41e434-a920-41eb-abdd-df21cd90a84c">Acme Corporation</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/AcmeCorporation/AcmeLeedsOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>localBusinessChild</ContentType>
    <CreateDate>2026-04-16T15:15:38</CreateDate>
    <NodeName Default="Acme Leeds Office" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f6c3d9a0-039c-4141-a4a4-860f185f9185">localBusinessChild</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[The Leeds branch office of Acme Corporation.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 1AB]]></Value>
    </postalCode>
    <priceRange>
      <Value><![CDATA[$$]]></Value>
    </priceRange>
    <streetAddress>
      <Value><![CDATA[101 Acme Way]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 496 0001]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Acme Leeds Office]]></Value>
    </title>
  </Properties>
</Content>