<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8f77876-ea1e-4318-a0dd-fe341faa39c2" Alias="Automotive" Level="4">
  <Info>
    <Parent Key="3f115f1e-db07-4c91-a5e5-7569b8355c88">Products</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Automotive</Path>
    <Trashed>false</Trashed>
    <ContentType>productListing</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="Automotive" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beb38d7-25f3-4e46-bb6b-95592e847083">productListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Vehicles and automotive products]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Automotive]]></Value>
    </title>
  </Properties>
</Content>