<?xml version="1.0" encoding="utf-8"?>
<Content Key="42839720-0a3e-4e22-adb6-90e1a2626312" Alias="Berry's Jewellers Leeds" Level="4">
  <Info>
    <Parent Key="426ee81d-5bd9-4c17-b2c4-ce993c20f9fb">Shops</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Shops/BerrysJewellersLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>jewelryStorePage</ContentType>
    <CreateDate>2026-04-16T15:15:31</CreateDate>
    <NodeName Default="Berry's Jewellers Leeds" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0408c12-e44b-400e-8abc-9f71efb6b9ea">jewelryStorePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Luxury jeweller in the Victoria Quarter, offering engagement rings, Swiss watches, and bespoke designs since 1897.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "50e26258-fd65-4334-98a5-3ec71d938825",
    "mediaKey": "e5338f88-a35d-4e28-a40e-12f591c21c41"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 6AX]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Victoria Quarter, Vicar Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 246 8048]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Berry's Jewellers Leeds]]></Value>
    </title>
  </Properties>
</Content>