<?xml version="1.0" encoding="utf-8"?>
<Content Key="db70d523-45db-4186-b759-b06709e4f581" Alias="Bettys Tea Rooms" Level="4">
  <Info>
    <Parent Key="f163d617-d727-4ffe-93e0-e5c8407d9c65">Dining</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Dining/BettysTeaRooms</Path>
    <Trashed>false</Trashed>
    <ContentType>bakeryPage</ContentType>
    <CreateDate>2026-04-16T15:15:32</CreateDate>
    <NodeName Default="Bettys Tea Rooms" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad8828a8-a620-4213-88bb-c37e58835153">bakeryPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Harrogate]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Iconic Yorkshire tea rooms serving handcrafted cakes, pastries, and afternoon tea since 1919.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "77590601-7840-41d2-a522-ebb9f284bf3b",
    "mediaKey": "56765458-c382-4dfd-a3ad-8a2cd384f84e"
  }
]]]></Value>
    </heroImage>
    <servesCuisine>
      <Value><![CDATA[British, Patisserie]]></Value>
    </servesCuisine>
    <streetAddress>
      <Value><![CDATA[1 Parliament Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 1423 814070]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Bettys Tea Rooms]]></Value>
    </title>
  </Properties>
</Content>