<?xml version="1.0" encoding="utf-8"?>
<Content Key="18a0cb95-c63d-4ff4-8221-874b025924cc" Alias="Blog" Level="2">
  <Info>
    <Parent Key="edaf892f-08cc-4aaa-9962-867c45aa33ae">SchemeWeaver Demo Site</Parent>
    <Path>/SchemeWeaverDemoSite/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListing</ContentType>
    <CreateDate>2026-04-16T15:15:24</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ebc97bdf-2fc7-4074-bec9-2f1cf6ebb41d">blogListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about Schema.org, structured data, and SEO.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Blog]]></Value>
    </title>
  </Properties>
</Content>