<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9d8e445-50cb-428d-9b2a-5baac21779f2" Alias="Boots Pharmacy Briggate" Level="4">
  <Info>
    <Parent Key="12c0c645-2982-4f71-8718-a85e95f3e8a7">Healthcare</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare/BootsPharmacyBriggate</Path>
    <Trashed>false</Trashed>
    <ContentType>pharmacyPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Boots Pharmacy Briggate" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c2024595-16ac-4455-bf92-cc820d3e8be1">pharmacyPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Central Leeds pharmacy offering prescriptions, health checks, and beauty consultations on Briggate.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "d0c3e9cd-976c-4102-b186-0c0eea3d6b5f",
    "mediaKey": "405366b8-763e-483f-91f2-1d2eb13d78dd"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[15 Briggate]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 243 1771]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Boots Pharmacy Briggate]]></Value>
    </title>
  </Properties>
</Content>