<?xml version="1.0" encoding="utf-8"?>
<Content Key="123e11da-bef0-43ed-a547-b46ffebe9fa1" Alias="Breaking News: Schema.org v26 Released" Level="3">
  <Info>
    <Parent Key="18a0cb95-c63d-4ff4-8221-874b025924cc">Blog</Parent>
    <Path>/SchemeWeaverDemoSite/Blog/BreakingNewsSchemaorgV26Released</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-04-16T15:15:26</CreateDate>
    <NodeName Default="Breaking News: Schema.org v26 Released" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfd426f2-c07d-43c7-864a-6c34459411a9">newsArticle</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Oliver Picton]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESchema.org version 26 has been released, introducing several new types and properties that improve structured data coverage for modern web applications.\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <dateline>
      <Value><![CDATA[London, UK]]></Value>
    </dateline>
    <description>
      <Value><![CDATA[The latest version of Schema.org brings exciting new types and properties for structured data.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c206c55f-7ffa-489c-96a1-bbf4e31f1f8f",
    "mediaKey": "47d48cac-cb89-4047-8477-600b2074913f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <keywords>
      <Value><![CDATA[schema.org, structured data, release, news]]></Value>
    </keywords>
    <publishDate>
      <Value><![CDATA[2026-04-13T16:15:26]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Breaking News: Schema.org v26 Released]]></Value>
    </title>
  </Properties>
</Content>