<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f30abac-fd36-44a9-a768-2c5cfcd6f6ac" Alias="Bulgogi Grill Leeds" Level="4">
  <Info>
    <Parent Key="f163d617-d727-4ffe-93e0-e5c8407d9c65">Dining</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Dining/BulgogiGrillLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>fastFoodPage</ContentType>
    <CreateDate>2026-04-16T15:15:32</CreateDate>
    <NodeName Default="Bulgogi Grill Leeds" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b33a351a-11fe-48d0-98e0-a2b5280fef51">fastFoodPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Quick-service Korean street food in Kirkgate Market, offering bibimbap bowls and bulgogi wraps.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "53f0fa1b-33ce-42c1-8baf-3b276a00489f",
    "mediaKey": "3d73a637-6994-4d87-8bdb-a83f19527b8c"
  }
]]]></Value>
    </heroImage>
    <servesCuisine>
      <Value><![CDATA[Korean]]></Value>
    </servesCuisine>
    <streetAddress>
      <Value><![CDATA[Kirkgate Market]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 9876]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Bulgogi Grill Leeds]]></Value>
    </title>
  </Properties>
</Content>