<?xml version="1.0" encoding="utf-8"?>
<Content Key="697a075d-86b9-42fb-ae5d-d52c7cd6e4ab" Alias="C64 Syntax Watch" Level="5">
  <Info>
    <Parent Key="4f5d226d-ef27-4971-8560-10d1aa34241e">Electronics</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Electronics/C64SyntaxWatch</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="C64 Syntax Watch">
      <Name Culture="de-DE">C64 Syntax-Uhr</Name>
      <Name Culture="en-US">C64 Syntax Watch</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="db3ef15f-8425-4260-8e47-98d40bc2600f">productPage</Template>
  </Info>
  <Properties>
    <availability>
      <Value><![CDATA[InStock]]></Value>
    </availability>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <brand>
      <Value><![CDATA[Commodore Revival]]></Value>
    </brand>
    <currency>
      <Value><![CDATA[GBP]]></Value>
    </currency>
    <description>
      <Value Culture="de-DE"><![CDATA[Eine Retro-Smartwatch, die stolz die Lieblingsfehlermeldung jedes Entwicklers anzeigt. Handgefertigt, limitierte Auflage von 64 Stück.]]></Value>
      <Value Culture="en-US"><![CDATA[A retro-styled smart watch that proudly displays every developer's favourite error message. Hand-assembled, limited run of 64 pieces.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "1f4b1a13-c575-4b52-b050-6efb9d5c14e6",
    "mediaKey": "e2d0a74e-def5-494c-ba43-33b954f2b541"
  }
]]]></Value>
    </heroImage>
    <price>
      <Value><![CDATA[129.99]]></Value>
    </price>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "0e0b6461-77a5-49f8-8d2e-77cd01e3291d",
    "mediaKey": "e2d0a74e-def5-494c-ba43-33b954f2b541"
  }
]]]></Value>
    </productImage>
    <reviews>
      <Value><![CDATA[]]></Value>
    </reviews>
    <sku>
      <Value><![CDATA[C64-SW-001]]></Value>
    </sku>
    <title>
      <Value Culture="de-DE"><![CDATA[C64 Syntax-Uhr]]></Value>
      <Value Culture="en-US"><![CDATA[C64 Syntax Watch]]></Value>
    </title>
  </Properties>
</Content>