<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eabd336-633b-4114-af1a-112cbac33e2e" Alias="Chapel Allerton Townhouse" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/ChapelAllertonTownhouse</Path>
    <Trashed>false</Trashed>
    <ContentType>residencePage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Chapel Allerton Townhouse" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7e8523ef-3e36-4685-a21b-97eef1e78890">residencePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Elegant three-storey townhouse in the heart of Chapel Allerton with period features and a private courtyard garden.]]></Value>
    </description>
    <floorSize>
      <Value><![CDATA[165 sqm]]></Value>
    </floorSize>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "6028e5d1-7801-4603-a9ca-25983f6d149f",
    "mediaKey": "a32f84d8-ed77-47a1-ba39-f0683632924e"
  }
]]]></Value>
    </heroImage>
    <numberOfRooms>
      <Value><![CDATA[6]]></Value>
    </numberOfRooms>
    <postalCode>
      <Value><![CDATA[LS7 3QR]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[19 Stainbeck Lane]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[Chapel Allerton Townhouse]]></Value>
    </title>
  </Properties>
</Content>