<?xml version="1.0" encoding="utf-8"?>
<Content Key="edfef4c8-f85d-430d-83f3-18417c00678b" Alias="Code for Good" Level="4">
  <Info>
    <Parent Key="c5ac8b70-8983-4ca3-9717-11074729edbc">Organisations</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/CodeForGood</Path>
    <Trashed>false</Trashed>
    <ContentType>ngoPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Code for Good" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f3d89f30-b54c-4c8d-ac29-53b9bc010218">ngoPage</Template>
  </Info>
  <Properties>
    <areaServed>
      <Value><![CDATA[West Yorkshire, United Kingdom]]></Value>
    </areaServed>
    <description>
      <Value><![CDATA[A non-profit organisation teaching coding skills to disadvantaged young people across West Yorkshire.]]></Value>
    </description>
    <foundingDate>
      <Value><![CDATA[2019]]></Value>
    </foundingDate>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "67a3f6b4-8bb5-4113-aa90-dcdde1653167",
    "mediaKey": "d7ecd69a-9680-4eed-b0d5-d4f935c9c2f0"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Code for Good]]></Value>
    </title>
  </Properties>
</Content>