<?xml version="1.0" encoding="utf-8"?>
<Content Key="4af92aa9-2beb-4a20-967e-b34894c12697" Alias="Coding Bootcamp" Level="5">
  <Info>
    <Parent Key="a8e29d44-bacf-4287-8eaa-2ac437493c53">Conferences</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/Conferences/CodingBootcamp</Path>
    <Trashed>false</Trashed>
    <ContentType>educationEventPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Coding Bootcamp" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de1bef61-c437-41ac-b967-c7b0461e95a8">educationEventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[An intensive weekend bootcamp covering .NET, TypeScript, and modern CMS development with Umbraco.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "ea1a14d4-0113-49ee-a484-d8306db55e23",
    "mediaKey": "7c73c913-2407-4127-ab3e-a7a63306c57b"
  }
]]]></Value>
    </heroImage>
    <locationName>
      <Value><![CDATA[Platform, Leeds]]></Value>
    </locationName>
    <startDate>
      <Value><![CDATA[2026-05-17T09:00:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Coding Bootcamp]]></Value>
    </title>
  </Properties>
</Content>