<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcf43245-f7e7-4a5e-92e4-be4e3ffb9e19" Alias="Contact Us" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2026-04-16T15:15:38</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81b36efe-961d-4173-9052-3d0feeacf246">contactPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <email>
      <Value><![CDATA[hello@enjoy-digital.co.uk]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <openingHours>
      <Value><![CDATA[Monday-Friday 09:00-17:30]]></Value>
    </openingHours>
    <postalCode>
      <Value><![CDATA[LS1 5HD]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[7 Park Row]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 357 0000]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Contact Us]]></Value>
    </title>
  </Properties>
</Content>