<?xml version="1.0" encoding="utf-8"?>
<Content Key="66287570-e4f3-4fb5-a82b-3f7d9662610b" Alias="Currys Leeds" Level="4">
  <Info>
    <Parent Key="426ee81d-5bd9-4c17-b2c4-ce993c20f9fb">Shops</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Shops/CurrysLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>electronicsStorePage</ContentType>
    <CreateDate>2026-04-16T15:15:31</CreateDate>
    <NodeName Default="Currys Leeds" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f94e4978-fba0-46b3-acc7-63730527e9a2">electronicsStorePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Electrical retail superstore offering the latest tech, computing, and home appliances at Crown Point Retail Park.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "071d9949-3cae-4582-a956-edf5786a6a32",
    "mediaKey": "c0730552-52cd-4917-a6a6-a964c6349fa7"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS10 1ET]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Crown Point Retail Park]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 344 561 1234]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Currys Leeds]]></Value>
    </title>
  </Properties>
</Content>