<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad3a1500-6394-4cdc-bd6c-20533a804f1a" Alias="Dacre Son &amp; Hartley" Level="4">
  <Info>
    <Parent Key="fe77b413-a393-40ff-8061-4a07e484017c">Services</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Services/DacreSonHartley</Path>
    <Trashed>false</Trashed>
    <ContentType>realEstatePage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Dacre Son &amp; Hartley" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ded6a70e-d4b8-44cc-a075-b97d2c4e3aae">realEstatePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Leading Yorkshire estate agent with over 100 years' experience selling residential property across Leeds and the surrounding areas.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "86bddeb6-6e16-468d-a821-75edccb4c33b",
    "mediaKey": "aa4177f9-8241-4fa7-98c8-082c048ce86b"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[20 Park Row]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 246 1234]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Dacre Son & Hartley]]></Value>
    </title>
  </Properties>
</Content>