<?xml version="1.0" encoding="utf-8"?>
<Content Key="05455f0e-f078-4fca-92d2-19f501c1ad1a" Alias="Digital Store Leeds" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/DigitalStoreLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>storePage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Digital Store Leeds" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7f250a5a-0ff0-44f6-b4a8-ae3475a6d54a">storePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Your local technology and electronics store in the Victoria Quarter, Leeds.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "0612bbf9-254f-4623-a4db-24265179c777",
    "mediaKey": "6ebf968a-234c-493e-ae88-339980299484"
  }
]]]></Value>
    </heroImage>
    <paymentAccepted>
      <Value><![CDATA[Cash, Credit Card, Apple Pay, Google Pay]]></Value>
    </paymentAccepted>
    <postalCode>
      <Value><![CDATA[LS1 6AZ]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[12 Queen Victoria Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 9900]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Digital Store Leeds]]></Value>
    </title>
  </Properties>
</Content>