<?xml version="1.0" encoding="utf-8"?>
<Content Key="914a09c2-adff-4d9f-9251-6cd34e1f6e94" Alias="Enterprise Leeds Airport" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/EnterpriseLeedsAirport</Path>
    <Trashed>false</Trashed>
    <ContentType>rentalCarPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Enterprise Leeds Airport" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="868751f5-81f5-4509-8de7-e66b328d361f">rentalCarPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Compact car rental from Enterprise at Leeds Bradford Airport for a weekend trip to the Dales.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "571c5b29-c3d1-474b-80c2-41406282cb66",
    "mediaKey": "e91897a5-2f27-4c24-9ba0-2fd6c8185edc"
  }
]]]></Value>
    </heroImage>
    <pickupLocation>
      <Value><![CDATA[Leeds Bradford Airport, Whitehouse Lane]]></Value>
    </pickupLocation>
    <pickupTime>
      <Value><![CDATA[2026-08-05T10:00:00]]></Value>
    </pickupTime>
    <reservationId>
      <Value><![CDATA[ENT-2026-LBA-055]]></Value>
    </reservationId>
    <title>
      <Value><![CDATA[Enterprise Leeds Airport Car Hire]]></Value>
    </title>
  </Properties>
</Content>