<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d35adeb-3033-4078-9734-586806591657" Alias="Finance" Level="4">
  <Info>
    <Parent Key="3f115f1e-db07-4c91-a5e5-7569b8355c88">Products</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Finance</Path>
    <Trashed>false</Trashed>
    <ContentType>productListing</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="Finance" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beb38d7-25f3-4e46-bb6b-95592e847083">productListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Financial products and services]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Finance]]></Value>
    </title>
  </Properties>
</Content>