<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd126eb0-5a76-40dc-a772-cec36d27032d" Alias="FitLife Gym" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/FitLifeGym</Path>
    <Trashed>false</Trashed>
    <ContentType>gymPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="FitLife Gym" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2964b0f-a12f-44d5-b3b7-4cfb0fae9b12">gymPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Headingley, Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[A modern fitness centre in Headingley with state-of-the-art equipment, classes, and personal training.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "35573ae7-dedc-402f-a566-d79213a003b0",
    "mediaKey": "4633faef-5c4a-49f0-b977-3cffd19c0f44"
  }
]]]></Value>
    </heroImage>
    <openingHours>
      <Value><![CDATA[Mon-Fri 06:00-22:00, Sat-Sun 08:00-20:00]]></Value>
    </openingHours>
    <streetAddress>
      <Value><![CDATA[14 North Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 275 4321]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[FitLife Gym]]></Value>
    </title>
  </Properties>
</Content>