<?xml version="1.0" encoding="utf-8"?>
<Content Key="d492e739-721e-4c3b-a142-5e723b044d32" Alias="Flamingo Land" Level="4">
  <Info>
    <Parent Key="cee4fe69-3d37-48a8-b71d-1bbcb4492821">Entertainment</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Entertainment/FlamingoLand</Path>
    <Trashed>false</Trashed>
    <ContentType>amusementParkPage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Flamingo Land" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e966a2d7-63cb-49ca-86c5-9350dcc8410a">amusementParkPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Malton, North Yorkshire]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Theme park, zoo, and resort in the heart of the North York Moors offering thrilling rides and family entertainment.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c8620317-05f5-4a5c-9d9d-6e7d30762c3d",
    "mediaKey": "c99b7db5-6858-4d42-9ca4-3ab9b41015f1"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Kirby Misperton]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 1653 668287]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Flamingo Land]]></Value>
    </title>
  </Properties>
</Content>