<?xml version="1.0" encoding="utf-8"?>
<Content Key="d04ca7d1-90e0-4efd-87bd-afbd4788c6bd" Alias="FlyBe Airways" Level="4">
  <Info>
    <Parent Key="c5ac8b70-8983-4ca3-9717-11074729edbc">Organisations</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/FlyBeAirways</Path>
    <Trashed>false</Trashed>
    <ContentType>airlinePage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="FlyBe Airways" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="96e3ed54-d9b6-4c56-8eec-ffad7601f47f">airlinePage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Regional airline operating domestic and European routes from Leeds Bradford Airport.]]></Value>
    </description>
    <foundingDate>
      <Value><![CDATA[1979]]></Value>
    </foundingDate>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "0038d6eb-e11c-4f88-82da-636a6eaa852d",
    "mediaKey": "34950a41-7fa9-4357-90d6-131052a75736"
  }
]]]></Value>
    </heroImage>
    <iataCode>
      <Value><![CDATA[BE]]></Value>
    </iataCode>
    <title>
      <Value><![CDATA[FlyBe Airways]]></Value>
    </title>
  </Properties>
</Content>