<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed8c63c1-df87-4d20-a4db-40414de9bba8" Alias="Fountains Abbey" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/FountainsAbbey</Path>
    <Trashed>false</Trashed>
    <ContentType>touristAttractionPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Fountains Abbey" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0f2374a7-6ab6-48ea-b1d0-65b45dd97adb">touristAttractionPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Ripon, North Yorkshire]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[UNESCO World Heritage Site featuring the ruins of a 12th-century Cistercian monastery set in the stunning Studley Royal Water Garden.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "a1b796f7-c93b-4a9e-b4d7-cbd3314e9f3a",
    "mediaKey": "cb1c693e-3fd3-4aac-a531-dcdf3ba6bafa"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Studley Royal Water Garden]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 1765 608888]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Fountains Abbey]]></Value>
    </title>
  </Properties>
</Content>