<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0a9b0d6-11cd-4ecb-8582-87084bb61cce" Alias="Grand Hotel Leeds Stay" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/GrandHotelLeedsStay</Path>
    <Trashed>false</Trashed>
    <ContentType>lodgingReservationPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Grand Hotel Leeds Stay" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c55dc057-b9fe-43d6-a6d9-7553cf75a975">lodgingReservationPage</Template>
  </Info>
  <Properties>
    <checkinTime>
      <Value><![CDATA[2026-07-15T15:00:00]]></Value>
    </checkinTime>
    <checkoutTime>
      <Value><![CDATA[2026-07-17T11:00:00]]></Value>
    </checkoutTime>
    <description>
      <Value><![CDATA[Two-night stay at the Grand Hotel Leeds, including breakfast and spa access.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "137bcc80-cb78-422f-a068-1cfa98c84772",
    "mediaKey": "31880c30-ed57-46cf-8f23-cbec606a4b8d"
  }
]]]></Value>
    </heroImage>
    <lodgingUnitDescription>
      <Value><![CDATA[Deluxe King Room with City View]]></Value>
    </lodgingUnitDescription>
    <reservationId>
      <Value><![CDATA[GHL-2026-042]]></Value>
    </reservationId>
    <title>
      <Value><![CDATA[Grand Hotel Leeds Stay]]></Value>
    </title>
  </Properties>
</Content>