<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1b6133f-b8d0-43f9-81e4-0dac3804f05b" Alias="Grand Hotel Leeds" Level="4">
  <Info>
    <Parent Key="aca8a3a5-ce3b-465e-bbb4-e58c0f464fb3">Places</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Places/GrandHotelLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>hotelPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Grand Hotel Leeds" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c893c66-8f05-443c-a86e-55fcfcfc7a9f">hotelPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <checkinTime>
      <Value><![CDATA[15:00]]></Value>
    </checkinTime>
    <checkoutTime>
      <Value><![CDATA[11:00]]></Value>
    </checkoutTime>
    <description>
      <Value><![CDATA[A luxury 4-star hotel in the heart of Leeds city centre, housed in a stunning Grade II listed building.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c7b3465a-3ece-4adb-87d2-800d7d77aa6a",
    "mediaKey": "9df6a049-f8e2-4388-a12d-a89e6ad8b25e"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 4DL]]></Value>
    </postalCode>
    <starRating>
      <Value><![CDATA[4]]></Value>
    </starRating>
    <streetAddress>
      <Value><![CDATA[Wellington Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 380 0100]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Grand Hotel Leeds]]></Value>
    </title>
  </Properties>
</Content>