<?xml version="1.0" encoding="utf-8"?>
<Content Key="96811ca1-4edc-4fd0-b734-0d4f4b4dc2a3" Alias="Harvey Nichols Leeds" Level="4">
  <Info>
    <Parent Key="426ee81d-5bd9-4c17-b2c4-ce993c20f9fb">Shops</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Shops/HarveyNicholsLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>clothingStorePage</ContentType>
    <CreateDate>2026-04-16T15:15:31</CreateDate>
    <NodeName Default="Harvey Nichols Leeds" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d2c8664-c3eb-4aac-a392-ac97ca686f83">clothingStorePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Luxury department store in the heart of the Victoria Quarter, offering designer fashion and fine dining.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "6fd55dea-a989-4884-b0f2-80941691fea0",
    "mediaKey": "6c20770d-20d1-4902-add5-94da58033e7d"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 6AZ]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[107-111 Briggate]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 204 8888]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Harvey Nichols Leeds]]></Value>
    </title>
  </Properties>
</Content>