<?xml version="1.0" encoding="utf-8"?>
<Content Key="cba8a1f7-0af3-4504-b5d3-1dda77e07284" Alias="Heal's Leeds" Level="4">
  <Info>
    <Parent Key="426ee81d-5bd9-4c17-b2c4-ce993c20f9fb">Shops</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Shops/HealsLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>furnitureStorePage</ContentType>
    <CreateDate>2026-04-16T15:15:31</CreateDate>
    <NodeName Default="Heal's Leeds" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="495bf045-aabf-447d-9b99-af39ade80af1">furnitureStorePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Contemporary furniture and homewares in the Victoria Quarter, blending timeless design with modern craftsmanship.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "bfab115f-3186-41c2-8905-a913bc5ac13f",
    "mediaKey": "220da4a5-5811-4ccc-8826-0521086494bc"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 6AX]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Victoria Quarter, Vicar Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 7800]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Heal's Leeds]]></Value>
    </title>
  </Properties>
</Content>