<?xml version="1.0" encoding="utf-8"?>
<Content Key="d76aeec9-455f-4a14-809a-ede3a5f006a2" Alias="Kaiser Chiefs" Level="4">
  <Info>
    <Parent Key="cee4fe69-3d37-48a8-b71d-1bbcb4492821">Entertainment</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Entertainment/KaiserChiefs</Path>
    <Trashed>false</Trashed>
    <ContentType>musicGroupPage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Kaiser Chiefs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4be9e929-c9bb-46f9-838d-b2f6f7512ad9">musicGroupPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Indie rock band formed in Leeds in 2000, known for hits like I Predict a Riot and Ruby.]]></Value>
    </description>
    <foundingDate>
      <Value><![CDATA[2000]]></Value>
    </foundingDate>
    <genre>
      <Value><![CDATA[Indie Rock]]></Value>
    </genre>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4e894808-0563-4a04-b8a6-1c7fc8cd49f2",
    "mediaKey": "784c943c-6d41-4c86-8710-0ff7a2669b42"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Kaiser Chiefs]]></Value>
    </title>
  </Properties>
</Content>