<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab502d59-8547-4a73-86fc-62fc7d33bb1e" Alias="Laynes Espresso" Level="4">
  <Info>
    <Parent Key="f163d617-d727-4ffe-93e0-e5c8407d9c65">Dining</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Dining/LaynesEspresso</Path>
    <Trashed>false</Trashed>
    <ContentType>cafePage</ContentType>
    <CreateDate>2026-04-16T15:15:32</CreateDate>
    <NodeName Default="Laynes Espresso" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ef2ad41-5892-4552-9520-760ce816ff2e">cafePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Speciality coffee shop near Leeds station, renowned for expertly crafted espresso and relaxed atmosphere.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "e250f3c4-f929-464e-aaa6-5ea25d129339",
    "mediaKey": "cc358b44-9b6c-4780-a930-a4fc1dde2cf1"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[16 New Station Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 4454]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Laynes Espresso]]></Value>
    </title>
  </Properties>
</Content>