<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d027947-bfc6-4ee7-bae0-fddab06eec6a" Alias="Leeds Bradford to Malaga" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/LeedsBradfordToMalaga</Path>
    <Trashed>false</Trashed>
    <ContentType>flightReservationPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Leeds Bradford to Malaga" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9aaf01e3-e477-45ea-9b80-a539dc1c1805">flightReservationPage</Template>
  </Info>
  <Properties>
    <arrivalAirport>
      <Value><![CDATA[Malaga Airport (AGP)]]></Value>
    </arrivalAirport>
    <departureAirport>
      <Value><![CDATA[Leeds Bradford Airport (LBA)]]></Value>
    </departureAirport>
    <departureTime>
      <Value><![CDATA[2026-07-20T06:30:00]]></Value>
    </departureTime>
    <description>
      <Value><![CDATA[Summer holiday flight reservation from Leeds Bradford Airport to Malaga, Spain.]]></Value>
    </description>
    <flightNumber>
      <Value><![CDATA[FR2045]]></Value>
    </flightNumber>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b22ef93c-05a3-419b-8bb1-348ab32a7247",
    "mediaKey": "a3014633-ac9d-4560-899b-00758c77637b"
  }
]]]></Value>
    </heroImage>
    <reservationId>
      <Value><![CDATA[LBA-2026-001]]></Value>
    </reservationId>
    <title>
      <Value><![CDATA[Leeds Bradford to Malaga]]></Value>
    </title>
  </Properties>
</Content>