<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9ed11af-9934-4110-8dce-be14f52a2178" Alias="Leeds Rhinos" Level="4">
  <Info>
    <Parent Key="c5ac8b70-8983-4ca3-9717-11074729edbc">Organisations</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Organisations/LeedsRhinos</Path>
    <Trashed>false</Trashed>
    <ContentType>sportsTeamPage</ContentType>
    <CreateDate>2026-04-16T15:15:29</CreateDate>
    <NodeName Default="Leeds Rhinos" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b326a918-f74f-471b-9c1c-5d745349fdd5">sportsTeamPage</Template>
  </Info>
  <Properties>
    <coach>
      <Value><![CDATA[Rohan Smith]]></Value>
    </coach>
    <description>
      <Value><![CDATA[Professional rugby league club based at Headingley Stadium, one of the most successful teams in Super League history.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "573f4d67-2bc0-4e7c-b116-b62302da0180",
    "mediaKey": "1598f388-4314-4c47-a28e-57d603699474"
  }
]]]></Value>
    </heroImage>
    <sport>
      <Value><![CDATA[Rugby League]]></Value>
    </sport>
    <title>
      <Value><![CDATA[Leeds Rhinos]]></Value>
    </title>
  </Properties>
</Content>