<?xml version="1.0" encoding="utf-8"?>
<Content Key="de90eab8-d786-4605-bbb6-e900a001bfa9" Alias="Leeds United vs Manchester City" Level="5">
  <Info>
    <Parent Key="55540509-0f79-4d65-98d1-053867e181bc">Sports</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/Sports/LeedsUnitedVsManchesterCity</Path>
    <Trashed>false</Trashed>
    <ContentType>sportsEventPage</ContentType>
    <CreateDate>2026-04-16T15:15:28</CreateDate>
    <NodeName Default="Leeds United vs Manchester City" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68eb6b60-40be-4b58-99db-9f3c33122a13">sportsEventPage</Template>
  </Info>
  <Properties>
    <competitor>
      <Value><![CDATA[Manchester City]]></Value>
    </competitor>
    <description>
      <Value><![CDATA[Premier League fixture at Elland Road — an exciting clash between Yorkshire grit and Manchester flair.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4e9522a9-fe96-49eb-9a8c-6b8f881b1a0f",
    "mediaKey": "1e5ea917-fe5c-456e-8eb5-ae815855efe4"
  }
]]]></Value>
    </heroImage>
    <locationName>
      <Value><![CDATA[Elland Road]]></Value>
    </locationName>
    <sport>
      <Value><![CDATA[Football]]></Value>
    </sport>
    <startDate>
      <Value><![CDATA[2026-09-20T15:00:00]]></Value>
    </startDate>
    <title>
      <Value><![CDATA[Leeds United vs Manchester City]]></Value>
    </title>
  </Properties>
</Content>