<?xml version="1.0" encoding="utf-8"?>
<Content Key="c22759c3-97d9-47ba-85a7-f9b958edc378" Alias="Leeds Combined Court Centre" Level="4">
  <Info>
    <Parent Key="13d44915-9df7-4612-be39-818d5b19379f">Legal</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Legal/LeedsCombinedCourtCentre</Path>
    <Trashed>false</Trashed>
    <ContentType>courthousePage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Leeds Combined Court Centre" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f5e03b1-ed57-4a48-b9b6-76c73a8f89e3">courthousePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Major court complex housing the Crown Court, County Court, and Family Court, handling civil, criminal, and family proceedings across West Yorkshire.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "dcf5bb9c-54d5-457c-a903-ff16dee0e38a",
    "mediaKey": "aee0be13-d33f-4028-862d-cefc2a34568f"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 3BG]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[1 Oxford Row]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 306 2800]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds Combined Court Centre]]></Value>
    </title>
  </Properties>
</Content>