<?xml version="1.0" encoding="utf-8"?>
<Content Key="965eaeb2-9f06-4ec9-b2d0-6823dd30d193" Alias="Leeds Arts University" Level="4">
  <Info>
    <Parent Key="a817e0d7-e643-48a5-9bb2-476a3d9dd6ff">Education</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Education/LeedsArtsUniversity</Path>
    <Trashed>false</Trashed>
    <ContentType>educationalOrgPage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Leeds Arts University" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f763a8b7-2fdf-4beb-b602-ceeb5993f078">educationalOrgPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Specialist arts university offering undergraduate and postgraduate degrees in art, design, and creative disciplines.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "565e11c6-6122-42d6-84b9-05402124836d",
    "mediaKey": "55b7d1f0-2b78-4189-98d3-5750b8cef51f"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS2 9AQ]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[Blenheim Walk]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 202 8000]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds Arts University]]></Value>
    </title>
  </Properties>
</Content>