<?xml version="1.0" encoding="utf-8"?>
<Content Key="6126f3c4-ec40-4e27-9660-e002260aaa87" Alias="Leeds Notary Public" Level="4">
  <Info>
    <Parent Key="13d44915-9df7-4612-be39-818d5b19379f">Legal</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Legal/LeedsNotaryPublic</Path>
    <Trashed>false</Trashed>
    <ContentType>notaryPage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Leeds Notary Public" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d6cbe588-439f-47f6-b6fa-4b68a6890487">notaryPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Experienced notary public providing document authentication, oath administration, and international notarial services for individuals and businesses.]]></Value>
    </description>
    <email>
      <Value><![CDATA[notary@leedsnotary.example.com]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "308069c0-ff92-4c36-a729-6fb68b63f277",
    "mediaKey": "d16adcb2-bddf-416b-8b55-6e5f0ba7fa3d"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 5RU]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[15 Greek Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 8800]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leeds Notary Public]]></Value>
    </title>
  </Properties>
</Content>