<?xml version="1.0" encoding="utf-8"?>
<Content Key="abc409c5-ee3c-44bc-9c78-23cb1cc7d374" Alias="Leventhorpe Vineyard" Level="4">
  <Info>
    <Parent Key="f163d617-d727-4ffe-93e0-e5c8407d9c65">Dining</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Dining/LeventhorpeVineyard</Path>
    <Trashed>false</Trashed>
    <ContentType>wineryPage</ContentType>
    <CreateDate>2026-04-16T15:15:32</CreateDate>
    <NodeName Default="Leventhorpe Vineyard" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="399818c5-c4cc-4f6b-833a-304f3993c9e7">wineryPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Woodlesford, Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[One of the most northerly vineyards in England, producing award-winning wines on the outskirts of Leeds since 1986.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "49997bb4-ea63-42a9-865e-a99d7e329421",
    "mediaKey": "5f5a65b5-089d-45dc-82fb-71997eadba5f"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Bullerthorpe Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 288 0088]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Leventhorpe Vineyard]]></Value>
    </title>
  </Properties>
</Content>