<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd099d0a-8402-42b9-806a-84f92643b693" Alias="Moor Lodge Campsite" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/MoorLodgeCampsite</Path>
    <Trashed>false</Trashed>
    <ContentType>campgroundPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Moor Lodge Campsite" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e91e2a3e-d4b4-4953-a829-0966102323b1">campgroundPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Burnsall, North Yorkshire]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Family-friendly campsite on the edge of the Yorkshire Dales with panoramic moorland views and modern facilities.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "7634996d-ba82-4985-b6a5-73c328e3f32b",
    "mediaKey": "002247fe-3a32-4b1f-8a3d-28d42d3158da"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Moor Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 1756 720340]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Moor Lodge Campsite]]></Value>
    </title>
  </Properties>
</Content>