<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb3a7b76-9bf4-4046-b84b-5007d01a83ae" Alias="Music &amp; Theatre" Level="4">
  <Info>
    <Parent Key="51f0a4a3-f8ba-42ac-9bb5-af4359d0c470">Events</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/MusicTheatre</Path>
    <Trashed>false</Trashed>
    <ContentType>eventListing</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="Music &amp; Theatre" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c163d39-4146-416a-8724-ccb1d71ad549">eventListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Live music, theatre, and performing arts]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Music & Theatre]]></Value>
    </title>
  </Properties>
</Content>