<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca93f670-6cdb-47ca-ac93-22eebed04039" Alias="Northern Finance Advisors" Level="4">
  <Info>
    <Parent Key="fe77b413-a393-40ff-8061-4a07e484017c">Services</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Services/NorthernFinanceAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>financialServicePage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Northern Finance Advisors" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5f98ce7-7da8-4d38-984b-f7d87dcb64b2">financialServicePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Independent financial advisors offering mortgage, pension, and investment guidance.]]></Value>
    </description>
    <email>
      <Value><![CDATA[advice@northernfinance.example.com]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "33013fd3-acff-49b7-ac95-91d2073fac42",
    "mediaKey": "eb08e26a-3dc8-422d-b281-5aa42e5ee328"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 4LT]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[8 Wellington Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 247 3300]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Northern Finance Advisors]]></Value>
    </title>
  </Properties>
</Content>