<?xml version="1.0" encoding="utf-8"?>
<Content Key="1789fc83-e58c-491e-b2ee-b3ae6f536f5f" Alias="Northern Lights" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/NorthernLights</Path>
    <Trashed>false</Trashed>
    <ContentType>musicRecordingPage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Northern Lights" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b5954a69-6b41-4bd7-8596-47089a38c609">musicRecordingPage</Template>
  </Info>
  <Properties>
    <byArtist>
      <Value><![CDATA[The Aire Valley Band]]></Value>
    </byArtist>
    <datePublished>
      <Value><![CDATA[2025-11-01T00:00:00]]></Value>
    </datePublished>
    <description>
      <Value><![CDATA[Lead single from the album 'Yorkshire Skies' by The Aire Valley Band.]]></Value>
    </description>
    <duration>
      <Value><![CDATA[PT4M32S]]></Value>
    </duration>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "96d93bf7-e2bc-414a-8d48-d0f69b98a8bc",
    "mediaKey": "f6d4b3c1-2b02-4b84-b0f0-e4fdd6e5417f"
  }
]]]></Value>
    </heroImage>
    <inAlbum>
      <Value><![CDATA[Yorkshire Skies]]></Value>
    </inAlbum>
    <title>
      <Value><![CDATA[Northern Lights]]></Value>
    </title>
  </Properties>
</Content>