<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e714bb6-21ad-455f-927a-a1ca6eb7b71f" Alias="Nuffield Health Leeds" Level="4">
  <Info>
    <Parent Key="12c0c645-2982-4f71-8718-a85e95f3e8a7">Healthcare</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare/NuffieldHealthLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalClinicPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Nuffield Health Leeds" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5fbcea5a-f1be-4693-8484-52d8bcea7ee8">medicalClinicPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Private medical clinic offering consultations, diagnostics, and outpatient treatments near the city centre.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "053af38d-1861-4f52-ac2c-f21295b95629",
    "mediaKey": "1116d20d-34b2-4e13-8eaa-144c89824df4"
  }
]]]></Value>
    </heroImage>
    <medicalSpecialty>
      <Value><![CDATA[Orthopaedics, Cardiology, Dermatology]]></Value>
    </medicalSpecialty>
    <streetAddress>
      <Value><![CDATA[2 Leighton Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 388 2000]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Nuffield Health Leeds]]></Value>
    </title>
  </Properties>
</Content>