<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb49ae38-32ba-495b-a7b1-b5a29b128b24" Alias="Oliver Picton" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/OliverPicton</Path>
    <Trashed>false</Trashed>
    <ContentType>profilePage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Oliver Picton" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d176cc56-4995-462f-aec9-3e1f39056f06">profilePage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Software engineer and Umbraco community contributor specialising in structured data and SEO.]]></Value>
    </description>
    <email>
      <Value><![CDATA[oliver@enjoy-digital.co.uk]]></Value>
    </email>
    <familyName>
      <Value><![CDATA[Picton]]></Value>
    </familyName>
    <givenName>
      <Value><![CDATA[Oliver]]></Value>
    </givenName>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "beb3c26a-b0d5-4558-bdba-93ac826716b0",
    "mediaKey": "326a1bf5-888f-42d5-8a26-051fea7e9e48"
  }
]]]></Value>
    </heroImage>
    <jobTitle>
      <Value><![CDATA[Software Engineer]]></Value>
    </jobTitle>
    <sameAs>
      <Value><![CDATA[https://github.com/EnjoyDigital/Umbraco.Community.SchemeWeaver,https://twitter.com/oliverpicton]]></Value>
    </sameAs>
    <title>
      <Value><![CDATA[Oliver Picton]]></Value>
    </title>
    <worksFor>
      <Value><![CDATA[Enjoy Digital]]></Value>
    </worksFor>
  </Properties>
</Content>