<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6f19f70-b57d-4398-9360-f0eed9f1a07a" Alias="Park Row Dental Practice" Level="4">
  <Info>
    <Parent Key="12c0c645-2982-4f71-8718-a85e95f3e8a7">Healthcare</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare/ParkRowDentalPractice</Path>
    <Trashed>false</Trashed>
    <ContentType>dentistPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Park Row Dental Practice" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5e71feda-981d-4369-811e-e6d91843c486">dentistPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Modern dental surgery in Leeds city centre providing NHS and private dental care for all the family.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "456aa317-29c8-4d32-88af-a3aeb6ea8014",
    "mediaKey": "303acd08-4538-4b63-b09e-5e165d0871a8"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[11 Park Row]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 5522]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Park Row Dental Practice]]></Value>
    </title>
  </Properties>
</Content>