<?xml version="1.0" encoding="utf-8"?>
<Content Key="16021498-a6d0-4509-919f-d5afad54c7f0" Alias="Premium Savings Account" Level="5">
  <Info>
    <Parent Key="5d35adeb-3033-4078-9734-586806591657">Finance</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Products/Finance/PremiumSavingsAccount</Path>
    <Trashed>false</Trashed>
    <ContentType>financialProductPage</ContentType>
    <CreateDate>2026-04-16T15:15:27</CreateDate>
    <NodeName Default="Premium Savings Account" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbc4aa1c-50c6-418b-8cb6-c103a58b1745">financialProductPage</Template>
  </Info>
  <Properties>
    <annualPercentageRate>
      <Value><![CDATA[4.5% AER]]></Value>
    </annualPercentageRate>
    <bodyText>
      <Value><![CDATA[<p>Our Premium Savings Account offers one of the best rates on the high street. Minimum deposit of £1,000 required. FSCS protected up to £85,000.</p>]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[A competitive fixed-rate savings account with guaranteed returns for 12 months.]]></Value>
    </description>
    <feesAndCommissionsSpecification>
      <Value><![CDATA[No monthly fees. Early withdrawal penalty of 90 days' interest.]]></Value>
    </feesAndCommissionsSpecification>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "9af276eb-7f9e-4378-ab98-f79b38ccd736",
    "mediaKey": "fa258db5-1dcf-4d28-a8c5-261e40738257"
  }
]]]></Value>
    </heroImage>
    <interestRate>
      <Value><![CDATA[4.5]]></Value>
    </interestRate>
    <title>
      <Value><![CDATA[Premium Savings Account]]></Value>
    </title>
  </Properties>
</Content>