<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4b463b4-da0b-480d-8f96-80369ec6480b" Alias="Royal Armouries Leeds" Level="4">
  <Info>
    <Parent Key="cee4fe69-3d37-48a8-b71d-1bbcb4492821">Entertainment</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Entertainment/RoyalArmouriesLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>museumPage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Royal Armouries Leeds" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b227ba3-1dbb-426b-8e4d-019bfc32197f">museumPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[The national museum of arms and armour, free to visit, housing over 75,000 objects spanning five thousand years of history.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "50063a0f-547a-4193-a696-ca42e3fd89ee",
    "mediaKey": "1b527534-cfa9-4e2d-97b8-266e07d9cdfa"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Armouries Drive]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 220 1999]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Royal Armouries Leeds]]></Value>
    </title>
  </Properties>
</Content>