<?xml version="1.0" encoding="utf-8"?>
<Content Key="1dd618cf-42a8-487c-9962-96c0e8c8e1dd" Alias="Schema Matters Podcast" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/SchemaMattersPodcast</Path>
    <Trashed>false</Trashed>
    <ContentType>podcastSeriesPage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Schema Matters Podcast" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f8dad854-a4c9-4882-8562-90076efd51d0">podcastSeriesPage</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Emma Richardson]]></Value>
    </authorName>
    <description>
      <Value><![CDATA[Weekly podcast exploring structured data, SEO, and the semantic web with industry experts.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "9767de3e-78d6-4d68-b126-bd327529a00a",
    "mediaKey": "64cec790-11a2-4bf2-b4a8-969c9e9d6406"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Schema Matters Podcast]]></Value>
    </title>
    <webFeed>
      <Value><![CDATA[https://schemamatters.example.com/feed.xml]]></Value>
    </webFeed>
  </Properties>
</Content>