<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc1da72d-7880-44be-9a58-c4a24f92fd14" Alias="Schema Quest" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/SchemaQuest</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGamePage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Schema Quest" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ae5bf55-5a1e-4ab8-bf5e-2a253a9c300c">videoGamePage</Template>
  </Info>
  <Properties>
    <applicationCategory>
      <Value><![CDATA[Game]]></Value>
    </applicationCategory>
    <description>
      <Value><![CDATA[An RPG adventure where you map content types to Schema.org to save the web from unstructured data.]]></Value>
    </description>
    <gamePlatform>
      <Value><![CDATA[PC, PlayStation 5, Xbox Series X]]></Value>
    </gamePlatform>
    <genre>
      <Value><![CDATA[RPG]]></Value>
    </genre>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "fe15a3e3-f30b-40ec-9b31-672b7a2122d4",
    "mediaKey": "cdefea62-c3b7-4b68-a892-473d1880a08b"
  }
]]]></Value>
    </heroImage>
    <operatingSystem>
      <Value><![CDATA[Windows, macOS, Linux]]></Value>
    </operatingSystem>
    <title>
      <Value><![CDATA[Schema Quest]]></Value>
    </title>
  </Properties>
</Content>