<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e06acd0-d2a2-43c1-9769-337c6eb715b9" Alias="SchemeWeaver Dev Blog" Level="3">
  <Info>
    <Parent Key="18a0cb95-c63d-4ff4-8221-874b025924cc">Blog</Parent>
    <Path>/SchemeWeaverDemoSite/Blog/SchemeWeaverDevBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2026-04-16T15:15:26</CreateDate>
    <NodeName Default="SchemeWeaver Dev Blog" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d3529a0-84de-497d-ad34-9fa35e0e959d">blogPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Development updates, release notes, and insights from the SchemeWeaver team.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4a28fd8f-bf94-4992-8d95-29c8cba1bf71",
    "mediaKey": "a79d5402-dedc-422f-9061-89b6fde48a0c"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[SchemeWeaver Dev Blog]]></Value>
    </title>
  </Properties>
</Content>