<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c168851-792d-46e8-b056-c1f6fd66fe35" Alias="Schema Sounds" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/SchemaSounds</Path>
    <Trashed>false</Trashed>
    <ContentType>musicAlbumPage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Schema Sounds" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e6188eea-cbf7-4770-975b-77a9c6d229c9">musicAlbumPage</Template>
  </Info>
  <Properties>
    <byArtist>
      <Value><![CDATA[DJ Structured]]></Value>
    </byArtist>
    <datePublished>
      <Value><![CDATA[2025-11-01T00:00:00]]></Value>
    </datePublished>
    <description>
      <Value><![CDATA[An electronic album inspired by structured data, featuring tracks named after Schema.org types.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "907ea251-d679-4c4c-a80e-5431bd53bf6e",
    "mediaKey": "4549ebd3-4e57-4de2-8e07-018f27bbb4e6"
  }
]]]></Value>
    </heroImage>
    <numTracks>
      <Value><![CDATA[12]]></Value>
    </numTracks>
    <title>
      <Value><![CDATA[Schema Sounds]]></Value>
    </title>
  </Properties>
</Content>