<?xml version="1.0" encoding="utf-8"?>
<Content Key="105fcb7c-ae4d-44d8-b2c5-fca8fc559c27" Alias="Senior .NET Developer" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/SeniorNETDeveloper</Path>
    <Trashed>false</Trashed>
    <ContentType>jobPostingPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Senior .NET Developer" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0be5b502-1935-4c1a-9d40-0944e088a3fc">jobPostingPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We are looking for an experienced .NET developer to join our growing team. You will work on Umbraco CMS projects, build NuGet packages, and contribute to the open-source community.</p>]]></Value>
    </bodyText>
    <datePosted>
      <Value><![CDATA[2026-04-11T16:15:37]]></Value>
    </datePosted>
    <description>
      <Value><![CDATA[Join our team building Umbraco community packages and delivering enterprise CMS solutions.]]></Value>
    </description>
    <employmentType>
      <Value><![CDATA[FULL_TIME]]></Value>
    </employmentType>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "3130c073-56e0-4637-86f4-d935f79c035d",
    "mediaKey": "65647a96-89d5-49cf-b9c9-7d9b1aa5faaf"
  }
]]]></Value>
    </heroImage>
    <hiringOrganisation>
      <Value><![CDATA[Enjoy Digital]]></Value>
    </hiringOrganisation>
    <jobLocationAddress>
      <Value><![CDATA[7 Park Row, Leeds LS1 5HD]]></Value>
    </jobLocationAddress>
    <jobLocationName>
      <Value><![CDATA[Leeds, UK]]></Value>
    </jobLocationName>
    <qualifications>
      <Value><![CDATA[.NET 8+
Umbraco CMS
TypeScript
REST APIs
SQL Server]]></Value>
    </qualifications>
    <salary>
      <Value><![CDATA[60000-80000 GBP per year]]></Value>
    </salary>
    <title>
      <Value><![CDATA[Senior .NET Developer]]></Value>
    </title>
    <validThrough>
      <Value><![CDATA[2026-05-16T16:15:37]]></Value>
    </validThrough>
  </Properties>
</Content>