<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe77b413-a393-40ff-8061-4a07e484017c" Alias="Services" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesListing</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a1bd925-45db-419e-a171-064092ddb4a3">servicesListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Professional services in Leeds and surrounding areas.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Services]]></Value>
    </title>
  </Properties>
</Content>