<?xml version="1.0" encoding="utf-8"?>
<Content Key="426ee81d-5bd9-4c17-b2c4-ce993c20f9fb" Alias="Shops" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Shops</Path>
    <Trashed>false</Trashed>
    <ContentType>shopsListing</ContentType>
    <CreateDate>2026-04-16T15:15:31</CreateDate>
    <NodeName Default="Shops" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a163acec-ff99-4886-bd34-470b99dffa59">shopsListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Local shops and retail stores in Leeds.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Shops]]></Value>
    </title>
  </Properties>
</Content>