<?xml version="1.0" encoding="utf-8"?>
<Content Key="55540509-0f79-4d65-98d1-053867e181bc" Alias="Sports" Level="4">
  <Info>
    <Parent Key="51f0a4a3-f8ba-42ac-9bb5-af4359d0c470">Events</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Events/Sports</Path>
    <Trashed>false</Trashed>
    <ContentType>eventListing</ContentType>
    <CreateDate>2026-04-16T15:15:25</CreateDate>
    <NodeName Default="Sports" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c163d39-4146-416a-8724-ccb1d71ad549">eventListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Sporting events and matches]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Sports]]></Value>
    </title>
  </Properties>
</Content>