<?xml version="1.0" encoding="utf-8"?>
<Content Key="c91054c9-ee0d-4b09-b86b-914beaf3ccf0" Alias="State of Structured Data 2026" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/StateOfStructuredData2026</Path>
    <Trashed>false</Trashed>
    <ContentType>reportPage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="State of Structured Data 2026" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14114658-4528-4a7c-b606-cb1df2c9704c">reportPage</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Oliver Picton]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>Our 2026 report reveals that structured data adoption has grown by 35% year on year, with JSON-LD now the dominant format across all sectors.</p>]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[Annual report analysing the adoption of Schema.org structured data across the top 10,000 websites in the UK.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "f7acdb72-5208-4fbb-87f2-6d5d8c6c8b38",
    "mediaKey": "f145db17-245f-41f5-88ae-baab17640d2a"
  }
]]]></Value>
    </heroImage>
    <publishDate>
      <Value><![CDATA[2026-03-01T00:00:00]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[State of Structured Data 2026]]></Value>
    </title>
  </Properties>
</Content>