<?xml version="1.0" encoding="utf-8"?>
<Content Key="d564fdc9-d994-4da5-9ab2-da8e9a2b8a3c" Alias="The Arden House" Level="4">
  <Info>
    <Parent Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2">Travel</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel/TheArdenHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>bedAndBreakfastPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="The Arden House" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="71188a02-cb40-4997-8e11-61a9749d63e7">bedAndBreakfastPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Headingley, Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Charming bed and breakfast in Headingley, offering cosy rooms and a full Yorkshire breakfast just minutes from the cricket ground.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "ef187b22-207c-47dd-a535-e2115aee0cf5",
    "mediaKey": "6e38b907-9599-40e1-8da5-9d347c7dd68d"
  }
]]]></Value>
    </heroImage>
    <starRating>
      <Value><![CDATA[4]]></Value>
    </starRating>
    <streetAddress>
      <Value><![CDATA[18 Shire Oak Road]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 275 2224]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[The Arden House]]></Value>
    </title>
  </Properties>
</Content>