<?xml version="1.0" encoding="utf-8"?>
<Content Key="a22d2848-c14e-43c2-b124-25ef6fe786a8" Alias="The Calls Boutique Hotel" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/TheCallsBoutiqueHotel</Path>
    <Trashed>false</Trashed>
    <ContentType>lodgingBusinessPage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="The Calls Boutique Hotel" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="51e8b70b-188b-4145-b851-f593fa37dc22">lodgingBusinessPage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <checkinTime>
      <Value><![CDATA[15:00]]></Value>
    </checkinTime>
    <checkoutTime>
      <Value><![CDATA[11:00]]></Value>
    </checkoutTime>
    <description>
      <Value><![CDATA[Boutique hotel in a converted 19th-century corn mill on the banks of the River Aire.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "acc70542-9345-46f0-a587-e2e942a54cde",
    "mediaKey": "7d7de273-5f2d-404d-9955-c422445966fb"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS2 7EW]]></Value>
    </postalCode>
    <starRating>
      <Value><![CDATA[4]]></Value>
    </starRating>
    <streetAddress>
      <Value><![CDATA[42 The Calls]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 244 0099]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[The Calls Boutique Hotel]]></Value>
    </title>
  </Properties>
</Content>