<?xml version="1.0" encoding="utf-8"?>
<Content Key="02172335-3785-4cff-86b9-cdf21aa0080a" Alias="The Midnight Bell" Level="4">
  <Info>
    <Parent Key="f163d617-d727-4ffe-93e0-e5c8407d9c65">Dining</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Dining/TheMidnightBell</Path>
    <Trashed>false</Trashed>
    <ContentType>barPage</ContentType>
    <CreateDate>2026-04-16T15:15:32</CreateDate>
    <NodeName Default="The Midnight Bell" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24f97ab4-8d3b-4ef3-834d-5f5ca668ea07">barPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Award-winning Leeds Brewery pub on the waterfront, serving real ales, craft beers, and hearty pub grub.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "a2428692-e6e7-46f6-ab72-97635f3723f2",
    "mediaKey": "dad3c43a-b19f-4908-b383-4089507df91a"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[101 Water Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 244 5044]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[The Midnight Bell]]></Value>
    </title>
  </Properties>
</Content>