<?xml version="1.0" encoding="utf-8"?>
<Content Key="809fa780-b38c-4487-bca3-0a4eb47486c5" Alias="The Olive Kitchen" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/TheOliveKitchen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2026-04-16T15:15:38</CreateDate>
    <NodeName Default="The Olive Kitchen" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d343b87-6cbd-460b-88d9-fd3eb812b02e">restaurantPage</Template>
  </Info>
  <Properties>
    <acceptsReservations>
      <Value><![CDATA[True]]></Value>
    </acceptsReservations>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Mediterranean and Italian cuisine in the heart of Leeds city centre.]]></Value>
    </description>
    <email>
      <Value><![CDATA[info@olivekitchen.co.uk]]></Value>
    </email>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "924bf2c8-87ad-4c8a-bb30-0e34520611aa",
    "mediaKey": "1230cb45-7ee8-4845-bf6c-24c350a2779d"
  }
]]]></Value>
    </heroImage>
    <latitude>
      <Value><![CDATA[53.7992]]></Value>
    </latitude>
    <longitude>
      <Value><![CDATA[-1.5434]]></Value>
    </longitude>
    <menu>
      <Value><![CDATA[https://olivekitchen.co.uk/menu]]></Value>
    </menu>
    <openingHours>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "b3a64abe-e49a-41f6-a8d0-1ecdff3d8354",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Monday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "22:00"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "14a57555-ba9e-48fe-99f3-8650b20d029b",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tuesday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "22:00"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "4218eaeb-ff8b-4a1e-a064-d23ac9021047",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Wednesday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "22:00"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "40288399-cf9f-4695-b449-beb9dc2faf25",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Thursday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "23:00"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "47b8db09-f1f9-45e6-b3e0-3f2fe0aed3ae",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Friday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "23:00"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "3e92bde8-f065-4153-bec8-014f6ad29d69",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Saturday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "11:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "23:00"
        }
      ]
    },
    {
      "contentTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "key": "7ec52ae3-37c9-43f8-8d33-c6b1f34cde17",
      "values": [
        {
          "alias": "dayOfWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sunday"
        },
        {
          "alias": "opens",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "11:00"
        },
        {
          "alias": "closes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "21:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b3a64abe-e49a-41f6-a8d0-1ecdff3d8354",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "14a57555-ba9e-48fe-99f3-8650b20d029b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4218eaeb-ff8b-4a1e-a064-d23ac9021047",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "40288399-cf9f-4695-b449-beb9dc2faf25",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "47b8db09-f1f9-45e6-b3e0-3f2fe0aed3ae",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3e92bde8-f065-4153-bec8-014f6ad29d69",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7ec52ae3-37c9-43f8-8d33-c6b1f34cde17",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b3a64abe-e49a-41f6-a8d0-1ecdff3d8354",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "14a57555-ba9e-48fe-99f3-8650b20d029b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4218eaeb-ff8b-4a1e-a064-d23ac9021047",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "40288399-cf9f-4695-b449-beb9dc2faf25",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "47b8db09-f1f9-45e6-b3e0-3f2fe0aed3ae",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3e92bde8-f065-4153-bec8-014f6ad29d69",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7ec52ae3-37c9-43f8-8d33-c6b1f34cde17",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </openingHours>
    <postalCode>
      <Value><![CDATA[LS1 8EQ]]></Value>
    </postalCode>
    <priceRange>
      <Value><![CDATA[$$$]]></Value>
    </priceRange>
    <servesCuisine>
      <Value><![CDATA[Mediterranean, Italian]]></Value>
    </servesCuisine>
    <streetAddress>
      <Value><![CDATA[42 The Headrow]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 245 1234]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[The Olive Kitchen]]></Value>
    </title>
  </Properties>
</Content>