<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c3b294d-3305-4730-931e-ce57f9c2b0b2" Alias="Travel" Level="3">
  <Info>
    <Parent Key="4f4122b5-9bb5-4641-9f38-9465e8a27995">Categories</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Travel</Path>
    <Trashed>false</Trashed>
    <ContentType>travelListing</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Travel" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b186fca7-f123-4316-bf91-032e511d4ecc">travelListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Travel reservations, flights, and tourist attractions.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Travel]]></Value>
    </title>
  </Properties>
</Content>