<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1ac56fc-dba6-4cb7-920d-d79fc3e8faff" Alias="Type 2 Diabetes" Level="4">
  <Info>
    <Parent Key="12c0c645-2982-4f71-8718-a85e95f3e8a7">Healthcare</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Healthcare/Type2Diabetes</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalConditionPage</ContentType>
    <CreateDate>2026-04-16T15:15:33</CreateDate>
    <NodeName Default="Type 2 Diabetes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0def841-aa82-450c-870f-fdcbe72fa426">medicalConditionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[A chronic condition affecting the way the body processes blood sugar (glucose), common in adults.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8d3df567-6533-4087-9891-88fbe48fdc83",
    "mediaKey": "85f29af3-4642-4e29-81dd-0490c0752aa6"
  }
]]]></Value>
    </heroImage>
    <possibleTreatment>
      <Value><![CDATA[Metformin, lifestyle changes, insulin therapy]]></Value>
    </possibleTreatment>
    <riskFactor>
      <Value><![CDATA[Obesity, sedentary lifestyle, family history]]></Value>
    </riskFactor>
    <signOrSymptom>
      <Value><![CDATA[Increased thirst, frequent urination, fatigue]]></Value>
    </signOrSymptom>
    <title>
      <Value><![CDATA[Type 2 Diabetes]]></Value>
    </title>
  </Properties>
</Content>