<?xml version="1.0" encoding="utf-8"?>
<Content Key="0018be66-0e1c-42b8-9168-d41581548177" Alias="Umbraco UK Fest 2026 Live Blog" Level="3">
  <Info>
    <Parent Key="18a0cb95-c63d-4ff4-8221-874b025924cc">Blog</Parent>
    <Path>/SchemeWeaverDemoSite/Blog/UmbracoUKFest2026LiveBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>liveBlogPage</ContentType>
    <CreateDate>2026-04-16T15:15:26</CreateDate>
    <NodeName Default="Umbraco UK Fest 2026 Live Blog" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c3ac228-ac1a-4b9f-b931-34a7516c9822">liveBlogPage</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Oliver Picton]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>Follow along as we bring you live updates from the biggest Umbraco community event of the year.</p>]]></Value>
    </bodyText>
    <coverageEndTime>
      <Value><![CDATA[2026-06-12T18:00:00]]></Value>
    </coverageEndTime>
    <coverageStartTime>
      <Value><![CDATA[2026-06-12T09:00:00]]></Value>
    </coverageStartTime>
    <description>
      <Value><![CDATA[Live coverage of all sessions, keynotes, and announcements from Umbraco UK Festival 2026 in London.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c9551b4c-1528-4e37-bd26-fb786e3de404",
    "mediaKey": "f16dfa55-4171-416f-a6ee-d9f430e83b09"
  }
]]]></Value>
    </heroImage>
    <publishDate>
      <Value><![CDATA[2026-06-12T09:00:00]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Umbraco UK Fest 2026 Live Blog]]></Value>
    </title>
  </Properties>
</Content>