<?xml version="1.0" encoding="utf-8"?>
<Content Key="23ba7b5b-009b-4966-a2f4-feebb9d4b1c8" Alias="Umbraco: The Documentary" Level="4">
  <Info>
    <Parent Key="42c974a4-9aeb-49fb-8d0a-a4c69101304b">Creative</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Creative/UmbracoTheDocumentary</Path>
    <Trashed>false</Trashed>
    <ContentType>moviePage</ContentType>
    <CreateDate>2026-04-16T15:15:30</CreateDate>
    <NodeName Default="Umbraco: The Documentary" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ede69cd4-1625-4cbc-89d1-13f185e326c4">moviePage</Template>
  </Info>
  <Properties>
    <actor>
      <Value><![CDATA[The Umbraco Community]]></Value>
    </actor>
    <dateCreated>
      <Value><![CDATA[2025-03-15T00:00:00]]></Value>
    </dateCreated>
    <description>
      <Value><![CDATA[A feature-length documentary exploring the open-source CMS community that changed web development.]]></Value>
    </description>
    <director>
      <Value><![CDATA[Niels Hartvig]]></Value>
    </director>
    <duration>
      <Value><![CDATA[PT1H30M]]></Value>
    </duration>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "7b083896-c24c-40b1-bbcd-64667e232762",
    "mediaKey": "04e6025a-dab9-48af-962e-519a5d3072f9"
  }
]]]></Value>
    </heroImage>
    <title>
      <Value><![CDATA[Umbraco: The Documentary]]></Value>
    </title>
  </Properties>
</Content>