<?xml version="1.0" encoding="utf-8"?>
<Content Key="1dc09169-281d-4161-8410-d6dcf00dbf8b" Alias="University of Leeds" Level="4">
  <Info>
    <Parent Key="a817e0d7-e643-48a5-9bb2-476a3d9dd6ff">Education</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Education/UniversityOfLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>universityPage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="University of Leeds" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9cd6237d-2c2f-4f27-8d32-3b8839515dbc">universityPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Russell Group university established in 1904, consistently ranked among the top universities in the UK for research and teaching.]]></Value>
    </description>
    <foundingDate>
      <Value><![CDATA[1904]]></Value>
    </foundingDate>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "87a9010c-77dd-457a-8cf9-599a88f464cc",
    "mediaKey": "5188907c-31b4-49d6-b6de-70065e8c7a66"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Woodhouse Lane]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 243 1751]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[University of Leeds]]></Value>
    </title>
  </Properties>
</Content>