<?xml version="1.0" encoding="utf-8"?>
<Content Key="71b787ca-11a6-48a0-b86e-409784f0c137" Alias="Victorian Terrace Headingley" Level="4">
  <Info>
    <Parent Key="fcbe80d1-183f-4b8a-979e-3fb860264290">Property</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Property/VictorianTerraceHeadingley</Path>
    <Trashed>false</Trashed>
    <ContentType>housePage</ContentType>
    <CreateDate>2026-04-16T15:15:37</CreateDate>
    <NodeName Default="Victorian Terrace Headingley" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e2d07156-1942-4f1a-aa4a-a1ba14d2e006">housePage</Template>
  </Info>
  <Properties>
    <addressCountry>
      <Value><![CDATA[GB]]></Value>
    </addressCountry>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Beautifully restored four-bedroom Victorian terrace house in the heart of Headingley.]]></Value>
    </description>
    <floorSize>
      <Value><![CDATA[140 sqm]]></Value>
    </floorSize>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "e9a3f800-033f-481f-ac4c-c86a981a039e",
    "mediaKey": "d6f9cff8-1b77-48dc-9321-bf67ddce9d15"
  }
]]]></Value>
    </heroImage>
    <numberOfRooms>
      <Value><![CDATA[7]]></Value>
    </numberOfRooms>
    <postalCode>
      <Value><![CDATA[LS6 3AW]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[28 St Michael's Lane]]></Value>
    </streetAddress>
    <title>
      <Value><![CDATA[Victorian Terrace Headingley]]></Value>
    </title>
  </Properties>
</Content>