<?xml version="1.0" encoding="utf-8"?>
<Content Key="89360382-ba53-4b1d-92b3-4face69f05c3" Alias="Walker Morris LLP" Level="4">
  <Info>
    <Parent Key="13d44915-9df7-4612-be39-818d5b19379f">Legal</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Legal/WalkerMorrisLLP</Path>
    <Trashed>false</Trashed>
    <ContentType>attorneyPage</ContentType>
    <CreateDate>2026-04-16T15:15:36</CreateDate>
    <NodeName Default="Walker Morris LLP" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c106f74-ac40-4841-b4e7-da64e37fc73f">attorneyPage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[Full-service commercial law firm headquartered in Leeds, providing legal services to businesses and individuals since 1872.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "3751ab8b-c518-4ee2-be58-82013345e575",
    "mediaKey": "027d4ae8-cd83-4514-be17-aba04c0a5031"
  }
]]]></Value>
    </heroImage>
    <streetAddress>
      <Value><![CDATA[Kings Chambers, Wellington Place]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 283 2500]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Walker Morris LLP]]></Value>
    </title>
  </Properties>
</Content>