<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7a39def-bc93-4062-a32a-54cb3e6f9173" Alias="Waterstones Leeds" Level="4">
  <Info>
    <Parent Key="426ee81d-5bd9-4c17-b2c4-ce993c20f9fb">Shops</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Shops/WaterstonesLeeds</Path>
    <Trashed>false</Trashed>
    <ContentType>bookStorePage</ContentType>
    <CreateDate>2026-04-16T15:15:31</CreateDate>
    <NodeName Default="Waterstones Leeds" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ed731e8-891b-478b-a5cf-f75530e07118">bookStorePage</Template>
  </Info>
  <Properties>
    <addressLocality>
      <Value><![CDATA[Leeds]]></Value>
    </addressLocality>
    <description>
      <Value><![CDATA[One of the finest bookshops in Yorkshire, spread across three floors of beautiful architecture on Albion Street.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c0903583-a326-4207-b8eb-db9fd8701d0c",
    "mediaKey": "f8912282-ed47-4c98-8b9f-164999c34fef"
  }
]]]></Value>
    </heroImage>
    <postalCode>
      <Value><![CDATA[LS1 6AG]]></Value>
    </postalCode>
    <streetAddress>
      <Value><![CDATA[93-97 Albion Street]]></Value>
    </streetAddress>
    <telephone>
      <Value><![CDATA[+44 113 244 4588]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Waterstones Leeds]]></Value>
    </title>
  </Properties>
</Content>