<?xml version="1.0" encoding="utf-8"?>
<Content Key="5efd1b00-11ba-4838-90c2-59a15d4ff52e" Alias="Web Design Services" Level="4">
  <Info>
    <Parent Key="fe77b413-a393-40ff-8061-4a07e484017c">Services</Parent>
    <Path>/SchemeWeaverDemoSite/Categories/Services/WebDesignServices</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-04-16T15:15:35</CreateDate>
    <NodeName Default="Web Design Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="26469adb-a892-4548-9ffa-f7c571856323">servicePage</Template>
  </Info>
  <Properties>
    <areaServed>
      <Value><![CDATA[Leeds, Yorkshire, United Kingdom]]></Value>
    </areaServed>
    <description>
      <Value><![CDATA[Bespoke web design and development services for businesses in Leeds and across Yorkshire.]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "5814c037-bf61-4c71-b7a0-314a43a8226e",
    "mediaKey": "ac81e7f4-b80d-49eb-ac23-fb318e44ff63"
  }
]]]></Value>
    </heroImage>
    <price>
      <Value><![CDATA[From £2,500]]></Value>
    </price>
    <provider>
      <Value><![CDATA[Enjoy Digital]]></Value>
    </provider>
    <serviceType>
      <Value><![CDATA[Web Design]]></Value>
    </serviceType>
    <title>
      <Value><![CDATA[Web Design Services]]></Value>
    </title>
  </Properties>
</Content>