<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a9b59aa-9ca4-4ec6-ab62-24f2536854fb" Alias="Content Grid" Level="1">
  <Info>
    <Name>Content Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1e05b3bc-20f0-4ff2-85db-5b3861735a86",
      "label": "Hero Block",
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": []
    },
    {
      "contentElementTypeKey": "c49cc3c8-df76-43bf-a57f-ec1c2cc26349",
      "label": "Feature Block",
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": []
    },
    {
      "contentElementTypeKey": "4b45428c-ab2e-4f07-b081-5aed558d9d73",
      "label": "Quote Block",
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": []
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>