<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2dde0f4e-de89-49a6-bfad-bd62f96ee8a1" Alias="FAQ Items Block List" Level="1">
  <Info>
    <Name>FAQ Items Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "08b99b4b-35f5-4085-9fbe-ca74ae41b550",
      "label": "FAQ Item"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>