<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f48136c5-4346-47a7-a407-c1ca7642b4d2" Alias="HowTo Tools Block List" Level="1">
  <Info>
    <Name>HowTo Tools Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3f34f27f-8af8-4d04-bbae-8f08e5f8292a",
      "label": "How-To Tool"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>