<?xml version="1.0" encoding="utf-8"?>
<DataType Key="043ea3e7-77e5-4b24-89c7-a4c85a889014" Alias="Instructions Block List" Level="1">
  <Info>
    <Name>Instructions Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f30480b3-c18b-44f8-8f2a-6be5d0ffdc8c",
      "label": "Recipe Step"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>