<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69826112-8912-498d-9dfc-e390e9ea9d4c" Alias="Opening Hours Block List" Level="1">
  <Info>
    <Name>Opening Hours Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8dc938b3-2a63-407c-bbcf-e5d760b5502d",
      "label": "Opening Hours"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>